<ul class="nav flex-column sidebar h-100">
  <li class="nav-item side-menu-item">
    <div class="row">
      <div [ngClass]="{'col-6': minibar, 'col': !minibar}">
        <a class="nav-link c-font-c-2 cursor-pointer mt-1 mb-2" routerLink="/">
          <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="shield-check"
               class="svg-inline--fa fa-shield-check fa-w-16 logo-icon" role="img" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 512 512">
            <g class="fa-group">
              <path class="fa-secondary" fill="currentColor"
                    d="M466.5 83.67l-192-80a48.15 48.15 0 0 0-36.9 0l-192 80A48 48 0 0 0 16 128c0 198.5 114.5 335.69 221.5 380.29a48.15 48.15 0 0 0 36.9 0C360.1 472.58 496 349.27 496 128a48 48 0 0 0-29.5-44.33zm-47.2 114.21l-184 184a16.06 16.06 0 0 1-22.6 0l-104-104a16.07 16.07 0 0 1 0-22.61l22.6-22.6a16.07 16.07 0 0 1 22.6 0l70.1 70.1 150.1-150.1a16.07 16.07 0 0 1 22.6 0l22.6 22.6a15.89 15.89 0 0 1 0 22.61z"
                    opacity="0.4"></path>
              <path class="fa-primary" fill="currentColor"
                    d="M419.3 197.88l-184 184a16.06 16.06 0 0 1-22.6 0l-104-104a16.07 16.07 0 0 1 0-22.61l22.6-22.6a16.07 16.07 0 0 1 22.6 0l70.1 70.1 150.1-150.1a16.07 16.07 0 0 1 22.6 0l22.6 22.6a15.89 15.89 0 0 1 0 22.61z"></path>
            </g>
          </svg>

          <label *ngIf="!minibar" class="c-font-15 ps-2 pt-1 c-font-c-7 side-menu-text"
                 [ngClass]="{'visible-content': minibar === false, 'hidden-content' : minibar === true }">
            Signature <b> ASA</b>
          </label>
        </a>
      </div>
      <div [ngClass]="{'col-6': minibar, ' col-2': !minibar}" class="text-right">
        <span [ngStyle]="{marginLeft: !minibar ? '-20px' : '-5px'}" class="menu-icon side-menu-text"
              (click)="toggleSidebar()">
          <i class="fa fa-align-justify"></i>
        </span>
      </div>
    </div>
  </li>
  <!--  <li class="row nav-item sidebar-logo cursor-pointer">-->
  <!--    -->
  <!--    -->
  <!--  </li>-->


  <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="145" height="43" viewBox="0 0 145 43">
    <defs>
      <clipPath id="clip-SignatureLogoVector">
        <rect width="145" height="43" />
      </clipPath>
    </defs>
    <g id="SignatureLogoVector" clip-path="url(#clip-SignatureLogoVector)">
      <g id="Group_2633" data-name="Group 2633" transform="translate(-1.638 -2.255)">
        <path id="Path_1" data-name="Path 1" d="M95.231,63.508v-1.28H92.65v5.405H94.11V65.564h1.05V64.287H94.11v-.779h1.121" transform="translate(-35.134 -23.152)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_2" data-name="Path 2" d="M103.419,62.228v5.405h2.561V66.358h-1.1v-4.13h-1.464" transform="translate(-39.291 -23.152)" fill="#fff" fill-rule="evenodd" />
        <rect id="Rectangle_21" data-name="Rectangle 21" width="1.464" height="5.406" transform="translate(70.445 39.076)" fill="#fff" />
        <path id="Path_3" data-name="Path 3" d="M124.5,63.381c.257,0,.4.338.415.553l1.412-.521a1.981,1.981,0,0,0-1.845-1.334c-1.585,0-2.1,1.482-2.1,2.827,0,1.364.519,2.76,2.114,2.76,1.688,0,1.948-1.652,1.948-2.983l-.01-.232H124.4v1.137h.54c.008.317-.113.779-.5.779-.565,0-.536-.946-.56-1.335,0-.407-.056-1.651.621-1.651" transform="translate(-46.613 -23.095)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_4" data-name="Path 4" d="M133.787,62.228v5.405h1.462V65.438h.7v2.194H137.4V62.228h-1.453v1.937h-.7V62.228h-1.462" transform="translate(-51.014 -23.152)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_5" data-name="Path 5" d="M145.814,63.545h.8v4.088h1.464V63.545h.839V62.228h-3.107v1.317" transform="translate(-55.657 -23.152)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_6" data-name="Path 6" d="M165.84,64.264a2.888,2.888,0,0,1-.264-.22.465.465,0,0,1-.149-.3.368.368,0,0,1,.384-.327,1.186,1.186,0,0,1,.86.579V62.351a2.258,2.258,0,0,0-1.038-.271,1.7,1.7,0,0,0-1.651,1.777,1.557,1.557,0,0,0,.3.945,3.481,3.481,0,0,0,.721.689,1.486,1.486,0,0,1,.248.2.442.442,0,0,1,.113.3.4.4,0,0,1-.433.359,1.24,1.24,0,0,1-.925-.6v1.69a2.87,2.87,0,0,0,1.1.22,1.722,1.722,0,0,0,1.726-1.805,1.542,1.542,0,0,0-.266-.936,2.83,2.83,0,0,0-.72-.662" transform="translate(-62.671 -23.095)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_7" data-name="Path 7" d="M177.056,65.633a1.71,1.71,0,0,1-.037.472.314.314,0,0,1-.338.262.323.323,0,0,1-.335-.263,1.706,1.706,0,0,1-.037-.479v-3.4h-1.461v3.535a1.84,1.84,0,1,0,3.671,0V62.228h-1.464v3.405" transform="translate(-66.866 -23.152)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_8" data-name="Path 8" d="M188.656,62.228h-1.332v5.4h1.46V65.861c1.271.037,2.132-.395,2.132-1.8,0-1.419-.987-1.836-2.26-1.836m.128,2.418V63.4l.107-.007a.584.584,0,0,1,.548.656A.562.562,0,0,1,188.784,64.646Z" transform="translate(-71.682 -23.152)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_9" data-name="Path 9" d="M200.627,62.228h-1.333v5.4h1.462V65.861c1.271.037,2.13-.395,2.13-1.8,0-1.419-.983-1.836-2.259-1.836m.129,2.418V63.4l.111-.007c.355,0,.543.31.543.656A.561.561,0,0,1,200.756,64.646Z" transform="translate(-76.303 -23.152)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_10" data-name="Path 10" d="M211.648,62.08c-1.485,0-2.068,1.477-2.068,2.79s.583,2.8,2.068,2.8,2.063-1.474,2.063-2.8-.577-2.79-2.063-2.79m0,4.23c-.555,0-.58-1.1-.58-1.439s.025-1.431.58-1.431.574,1.1.574,1.431S212.2,66.31,211.648,66.31Z" transform="translate(-80.273 -23.095)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_11" data-name="Path 11" d="M223.458,67.633h1.582l-1.091-2.248a1.369,1.369,0,0,0,.842-1.355c0-1.429-.92-1.8-2.189-1.8h-1.41v5.4h1.458V66.192c0-.264-.012-.53-.017-.794l.015-.013.81,2.248m-.807-4.244a.593.593,0,0,1,.689.656.623.623,0,0,1-.592.687l-.1-.009Z" transform="translate(-84.756 -23.152)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_12" data-name="Path 12" d="M232.746,62.228v1.317h.808v4.088h1.461V63.545h.839V62.228h-3.108" transform="translate(-89.217 -23.152)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_13" data-name="Path 13" d="M95.9,21.331c-.247-.385-.664-.3-1.031-.264-2.731,1.326-5.029,3.637-7.224,5.689-.071.041-.11.029-.134-.007L89,24.225c.608-.817.972-1.784,1.617-2.582.184-.564.752-.829.665-1.537-.625-1.038-1.435-.119-2.171.045a2.484,2.484,0,0,1-1.1.586,28.158,28.158,0,0,0-3.818,2.793c-2.247,1.957-4.464,4.315-6.731,6.3a1.271,1.271,0,0,0-.614.923c-.085.109-.154.225-.283.376a33.764,33.764,0,0,1,2.23-4.1,59.1,59.1,0,0,1,5.94-8.329l-.487-.053a8.261,8.261,0,0,0-2.728,1.881c-.24.214-.446.589-.745.7a8.174,8.174,0,0,0-3.783,1.417c-1.064.968-2.453,1.488-3.427,2.573-.589.89-1.645,1.287-2.136,2.274a7.163,7.163,0,0,0-1.621,2.122c-.633.246-.267.945-.849,1.135-.461,1.176-1.408,2.024-1.231,3.418a2.629,2.629,0,0,0,.957.563,44.06,44.06,0,0,0,3.794-2.881l.422-.113a7.651,7.651,0,0,0,1.793-1.812c.484-.215.608-.669.926-1.046-.023.037-.041.078-.064.118-1.319,2.693-2.621,5.462-3.968,8.156-1.005,2.6-2.983,4.666-4.13,7.194a9.33,9.33,0,0,0-1.3,3.57.592.592,0,0,0,.462.377l.171.053a1.526,1.526,0,0,0,1.577-.8c.548-1.512,1.5-2.875,2.041-4.387.068-.389.575-.573.508-1.093.99-1.652,1.3-3.555,2.674-5.015a4.543,4.543,0,0,1,.617-1.475c1.524-1.637,2.763-3.512,4.361-5.083,1.542-2.293,3.972-3.787,5.862-5.766.488-.782,1.34-1.159,1.943-1.822.5-.289.876-.819,1.419-1.017.018.088-.017.184-.006.274a17.89,17.89,0,0,1-1.6,3.042.291.291,0,0,1-.1.161l-.06.059a.462.462,0,0,0-.177.36c-.38.741-.967,1.342-1.34,2.085-.141.453-.661.687-.713,1.231-.831,1.186-1.433,2.441-2.293,3.607l-.046.321c-.068.159-.076.534.3.534a5.6,5.6,0,0,0,2.362-2.222c2.543-2.561,5.062-5.059,7.737-7.527.085-.033.315-.2.379-.171a4.5,4.5,0,0,1-.51,1.141c-.791,1.718-1.844,3.279-2.677,4.973-1.017,2.314-2.507,4.514-3.406,6.9-.2.509-.458.693-.274,1.289a8.545,8.545,0,0,0,2.106-1.528c.689-.413.34-1.16.874-1.579,1.131-2.258,3.307-3.8,4.9-5.713a.3.3,0,0,0-.347-.177,28.865,28.865,0,0,0-2.795,2.406,1.653,1.653,0,0,0-.219.146c.184-.385.389-.771.594-1.157.849-.933,1.019-2.1,2.044-2.984a3.486,3.486,0,0,1,.874-1.474c.171-.575.7-.955.851-1.548.258-.472.8-.744.922-1.3.193-.607,1.218-.885.726-1.709M70.425,32.671c-.072,0-.079-.06-.059-.114.185-.93,1.006-1.6,1.379-2.456,1.819-2.321,3.574-4.8,5.978-6.569a.812.812,0,0,0,.513-.111l.152-.085c.159-.092.263-.127.376-.054a7.124,7.124,0,0,1-.592,1.209c-.25.41-.524.817-.78,1.23C75.277,28.207,73.156,30.824,70.425,32.671Z" transform="translate(-24.908 -6.329)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_14" data-name="Path 14" d="M40.593,23.9c-.069,0-.1-.093-.12-.165a39.028,39.028,0,0,1,5.011-7.7A7.036,7.036,0,0,1,47.5,14.189a.383.383,0,0,0-.025-.357,5.916,5.916,0,0,0-2.13.191,8.42,8.42,0,0,0-1.981,2.006c-2.34,1.986-4.891,3.543-7.237,5.456-1.322,1.158-2.576,2.288-3.779,3.547a.286.286,0,0,1-.424-.071,16.827,16.827,0,0,0-1.259-3.544,34.038,34.038,0,0,1-3.021-7.089,6.782,6.782,0,0,1,0-3.118,8,8,0,0,1,2.6-3.494,22.185,22.185,0,0,1,8.015-3.88,3.382,3.382,0,0,1,3.334.5A2.141,2.141,0,0,1,41.8,6.228a16,16,0,0,0-1.843,5.1c-.025.191.093.31.282.379.331,0,.5-.4.618-.639a8.321,8.321,0,0,1,1.157-3.546c1.127-1.158,2.645-2.313,2.128-4.06-.81-1.234-2.318-1.256-3.759-1.186-2.2.6-4.516.9-6.5,1.985-2.885,1.537-6.145,3.31-7.916,6.356-1.373,2.176-1,5.458.112,7.653.565,1.8,1.75,3.36,2.392,5.154.282.26.119.707.445.969a12.215,12.215,0,0,1,.786,3.518,6.343,6.343,0,0,1-2.155,5.531C22.816,36.537,16.2,36.654,10.81,34.929c-2.315-.829-4.747-1.583-6.5-3.543-.237-.544-.873-1.014-.782-1.726-.308-.4-.045-.941,0-1.392,1-1.6,2.814-2.525,4.421-3.306.025-.049.074-.168-.021-.217-1.513-.018-2.648.946-3.807,1.8C2.794,27.8,1.356,29.212,1.686,31.2c.449,2.762,3.5,4.182,5.741,5.077a25.715,25.715,0,0,0,12.01,1.349,18.331,18.331,0,0,0,9.047-3.665,9.016,9.016,0,0,0,3.691-7.11L33,25.457c2.435-3.076,5.8-5.384,9.011-7.515a67.166,67.166,0,0,0-4.047,7.33c-.425.939-.8,1.887-1.136,2.835-.019.23-.233.538,0,.708a3.424,3.424,0,0,0,2.176-1.229c.378-1.586,1.635-2.906,2.72-4.139-.378.1-.685.5-1.133.449" transform="translate(0 0)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_15" data-name="Path 15" d="M125.4,20.11a4.39,4.39,0,0,0-2.1.851c-.522.777-1.493.709-2.292.946a25.21,25.21,0,0,0-3.591,2.2c-.43.519-1.117.684-1.422,1.273-.545.209-.516.809-1.089.922a9.777,9.777,0,0,0-.872,1.088c-.566.333-.85.9-1.349,1.346.049.472-.448.732-.594,1.133a11.068,11.068,0,0,0-1.6,3,2.905,2.905,0,0,0-.382,1.577c.044.479.615.428.826.6a.81.81,0,0,0,.829-.307c.473-.311.735-.878,1.3-1.044l2.5-2.193c.664-.617.923-1.372,1.724-1.89a3.333,3.333,0,0,1,1.016-1.278c-.047.658-.7,1.059-.687,1.745-.07.213-.351.333-.279.569-.689,1.7-1.632,3.308-1.774,5.176.234.065.234.5.565.425a13.775,13.775,0,0,0,4.28-3.1c.048-.117.262-.213.145-.377-.876.473-1.609,1.251-2.485,1.7a.234.234,0,0,1-.377-.074,4.475,4.475,0,0,1,.638-1.982l.376-1.135a39.722,39.722,0,0,1,6-10.234c.17-.354.665-.446.736-.848l-.048-.1M113.867,32.327c-.516.238-.85.945-1.415.921-.235-1.039.872-1.676,1.156-2.6a37.088,37.088,0,0,1,5.864-7.133c.449.045.778-.331,1.223-.122l.076.143C119.309,26.889,116.683,29.655,113.867,32.327Z" transform="translate(-41.864 -6.893)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_16" data-name="Path 16" d="M77.208,11.293a3.683,3.683,0,0,1-.216,1.159c.548-.211.877-.851,1.16-1.325.4-.516,1.113-.825,1.4-1.416a1.8,1.8,0,0,0-.57-.592c-1.065-.45-1.771.782-2.483,1.372-.213.545.615.284.712.8" transform="translate(-28.885 -2.612)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_17" data-name="Path 17" d="M155.468,30.971c1.206-1.582,3.072-2.48,4.607-3.614a.7.7,0,0,0,.5-.424,15.406,15.406,0,0,0-2.506.988c-.661.755-1.609.781-2.245,1.629-.143.072-.309.262-.475.072a1.467,1.467,0,0,1,.526-.99c.14-.711.845-1.206,1.2-1.891.381-.238.569-.662.948-.969-.19-.612.567-.853.612-1.418-.215-.327-.637-.568-.874-.921-.472-.5-1.065-.85-1.558-1.322-.31-.755.66-1.134.758-1.794.046-.189-.048-.308-.218-.285-.683.378-1.152,1.019-1.816,1.419-.168.591-.709,1.016-1.02,1.558-.26.263-.635.52-.686.875-1.462,1.324-2.432,3.07-3.967,4.278-.165.238-.145.637-.522.682-1.062,1.232-2.244,2.364-3.4,3.547l-.163.021c.12-.562.542-1.016.709-1.58a37.543,37.543,0,0,1,3.26-5.037,21.7,21.7,0,0,1,1.7-2.266.462.462,0,0,0,.069-.52c-.8-.044-1.372.52-2.052.734l-1.184,1.016c-1.372,1.627-2.839,3.283-4.209,4.94-1.181,1.109-2.2,2.436-3.616,3.14-.188.023-.237-.118-.215-.285,1.28-2.194,2.458-4.486,3.808-6.684.923-1.041,1.607-2.2,2.6-3.212v-.214h-.35a6.163,6.163,0,0,0-3.478,2.456L140.7,26.08c-.211.424.355.048.422.33l-.518,1.133a56.5,56.5,0,0,0-3.636,6.853c.163.378.686.261.992.192,1.935-.543,3.52-2.2,5.077-3.474.31-.332.736-.873,1.229-.806.1.4-.258.686-.4,1.017-.4.9-.923,1.652-1.324,2.528-.305,1.062-1.2,1.89-1.467,2.977,0,.212-.02.5.214.519,1.938-1.109,2.627-3.261,4.419-4.512,1.206-1.4,2.7-2.385,3.74-3.852,1.914-1.676,3.042-3.685,4.931-5.338a4.726,4.726,0,0,1,1.656,1.629c-.16.5-.656.879-.849,1.368-1.679,2.647-3.476,5.3-5.132,7.917-.235.309-.52.757-.282,1.114.146.116.332,0,.5,0a5.776,5.776,0,0,0,2.528-2.27c.661-1.11,1.914-1.464,2.671-2.434" transform="translate(-52.241 -6.861)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_18" data-name="Path 18" d="M111.192,16.172c1.321-.618,2.951-.263,4.416-.519.973-.1,1.843.3,2.763.091.591.308,1.14-.236,1.752.027l1.7-.071c1.773.233,3.854-.217,5.694.089a1.887,1.887,0,0,1,.947.028,6.716,6.716,0,0,1,1.846-.046v.117c-.357.375-.641.826-.973,1.23-.308.658-1.041,1.132-1.254,1.818-1.157,1.37-1.864,2.976-3,4.371-.971,1.062-1.868,2.267-2.86,3.376.852-.256,1.513-1.159,2.176-1.65l-.071.541a6.6,6.6,0,0,0-.853,1.82c-.545,1.631-.872,3.353-1.252,5.006a18.273,18.273,0,0,0,.309,6.639,1.218,1.218,0,0,0,1.084.142c-.05-.351.426-.5.355-.848.191-.546-.421-.263-.566-.546-.5-.5-.4-1.252-.731-1.843a8.069,8.069,0,0,1,.492-4.254,7.637,7.637,0,0,1,.924-2.477c.4-.924.8-1.844,1.3-2.742a77.9,77.9,0,0,1,7.517-10.515l2.032.025c.613-.117,1.229.262,1.868,0,.424-.047.827.236,1.184,0,2.386-.163,4.769.117,7.112.1a5.8,5.8,0,0,0,2.814-.446.474.474,0,0,0,.068-.522c-1.108,0-2.292.025-3.378.094-.757-.094-1.371.308-2.1.071-2.39.075-5.039-.115-7.382-.044-.471-.144-1.1.212-1.412-.191A35.51,35.51,0,0,1,136.1,12.37l.025-.262a.412.412,0,0,0-.448-.238c-1.328.569-2.79.9-3.759,2.2-.408.255-.473.755-.876.965-2.39.021-4.585-.049-6.874-.071a23.337,23.337,0,0,0-3.382-.14c-.5.306-.947-.193-1.488-.116a3.956,3.956,0,0,1-1.607.04l-2.861.076a15.891,15.891,0,0,0-2.79-.049c-.587-.239-1.273.1-1.846-.067-.255.208-.469,0-.755,0-.186.231-.756.208-.567.608.712.4,1.4,1.018,2.321.854" transform="translate(-41.381 -3.708)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_19" data-name="Path 19" d="M186.181,28.634c-.5.351-1.182-.117-1.584.332a4.186,4.186,0,0,1-1.774,3.333c-1.467,1.556-3.425,2.124-5.318,2.69-1.135.163-2.676,1.06-3.524-.12a6.464,6.464,0,0,1,1.2-4.04c.1-.473.5-.73.786-1.132.9-.169,0,.92.447,1.273a9.481,9.481,0,0,0,2.738-1.442c.547-.849,1.068-1.678,1.607-2.55.592-1.18,1.585-2.2,1.985-3.471-.4-.733-1.248-.1-1.838-.12a8.91,8.91,0,0,0-4.869,3c-.313.305-.335.824-.761.99-.61.876-1.182,1.772-1.749,2.668-.617,1.465-1.536,2.763-2.032,4.277-.1.9-.516,2.2.5,2.719a4.235,4.235,0,0,0,2.461-.215c3.121-1.133,6.285-2.126,8.909-4.394a6.722,6.722,0,0,0,3.073-3.688.258.258,0,0,0-.259-.116m-8.342-1.723c.492-.734,1.035-1.371,1.581-2.08.139-.049.235-.19.4-.141.045,1.746-1.419,2.951-2.111,4.44-.187.217-.28-.188-.5-.144-.2-.064-.42.076-.557-.087C176.745,28.09,177.434,27.571,177.839,26.91Z" transform="translate(-65.508 -8.068)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_20" data-name="Path 20" d="M195.849,41.783a1.312,1.312,0,0,0-.965-.394,1.3,1.3,0,0,0-.952.394,1.311,1.311,0,0,0-.4.954,1.332,1.332,0,0,0,.4.962,1.357,1.357,0,1,0,1.923-1.916m-.138,1.786a1.162,1.162,0,0,1-1.986-.832,1.126,1.126,0,0,1,.341-.822,1.1,1.1,0,0,1,.818-.344,1.167,1.167,0,0,1,1.167,1.166A1.126,1.126,0,0,1,195.711,43.569Z" transform="translate(-74.077 -15.107)" fill="#fff" fill-rule="evenodd" />
        <path id="Path_21" data-name="Path 21" d="M196.008,42.8a.368.368,0,0,0-.23-.378,1.16,1.16,0,0,0-.406-.053h-.521v1.488h.259v-.586h.208a.655.655,0,0,1,.291.046.361.361,0,0,1,.139.34v.116l.009.083.245-.023c-.01-.008-.01-.033-.015-.069l0-.116V43.54a.457.457,0,0,0-.081-.23.393.393,0,0,0-.255-.145.527.527,0,0,0,.212-.069.327.327,0,0,0,.147-.295m-.41.251a.612.612,0,0,1-.247.036h-.24v-.535h.224a.63.63,0,0,1,.316.053c.071.036.1.11.1.217A.225.225,0,0,1,195.6,43.052Z" transform="translate(-74.588 -15.486)" fill="#fff" fill-rule="evenodd" />
      </g>
    </g>
  </svg>-->


  <li class="nav-item sep-item">
    <hr>
  </li>

  <li class="nav-item side-menu-item">
    <a class="nav-link ps-0" routerLink="/users/search" routerLinkActive="active">
      <p class="" routerLink="/users/" routerLinkActive="active">
        <span class="ps-2">
          <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="user-friends"
               class="svg-inline--fa fa-user-friends fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 640 512">
            <path fill="currentColor"
                  d="M480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm0-144c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zM272.1 276c-11.9 0-23.9 1.7-35.5 5.3-14.2 4.3-29.1 6.7-44.7 6.7s-30.5-2.4-44.7-6.7c-11.6-3.5-23.6-5.3-35.5-5.3-36.3 0-71.6 16.2-92.3 46.9C7.2 341.3 0 363.4 0 387.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-44.8c0-23.8-7.2-45.9-19.6-64.3-20.7-30.7-56-46.9-92.3-46.9zM336 432H48v-44.8c0-28.9 18.4-53.6 44.1-63.1 10.3-3.8 21.6-3.7 31.9 0 22.1 7.9 45 11.9 68 11.9s45.8-4 68.1-11.9c10.3-3.7 21.6-3.8 31.9 0 25.7 9.4 44.1 34.2 44.1 63.1V432zM192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm0-176c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm431.7 237.1C606.4 291.5 577 278 546.8 278c-27.8 0-34.8 10-66.8 10s-39-10-66.8-10c-13.3 0-26.2 3-38.2 8.1 5.8 5.9 11.3 12 16 18.9 4.7 7 8.6 14.4 12 22 3.3-.7 6.7-1.1 10.2-1.1 17.2 0 29.6 10 66.8 10 37.4 0 49.5-10 66.8-10 15.7 0 29.5 6.7 37.1 17.9 5.3 7.9 8.1 17.1 8.1 26.7V400H416v32c0 5.5-.6 10.8-1.6 16H600c22.1 0 40-17.9 40-40v-37.3c0-19.9-6-38.3-16.3-53.6z"></path>
          </svg>
        </span>
        <span class="side-menu-text"
              [ngClass]="{'visible-content': minibar === false, 'hidden-content' : minibar === true }">User Search</span>
      </p>
    </a>
  </li>

  <li class="nav-item side-menu-item">
    <a class="nav-link ps-0" routerLink="/clients/search" routerLinkActive="active">
      <p class="" routerLink="/clients/" routerLinkActive="active">
        <span class="ps-2">
          <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="id-card-alt"
               class="svg-inline--fa fa-id-card-alt fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 576 512">
            <path fill="currentColor"
                  d="M512 64H368V32c0-17.7-14.3-32-32-32h-96c-17.7 0-32 14.3-32 32v32H64C28.7 64 0 92.7 0 128v320c0 35.3 28.7 64 64 64h448c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64zM256 48h64v64h-64V48zm272 400c0 8.8-7.2 16-16 16H399.2c.2-1.1.8-2.1.8-3.2v-19.2c0-31.8-30.1-57.6-67.2-57.6-10.8 0-18.7 8-44.8 8-26.9 0-33.4-8-44.8-8-37.1 0-67.2 25.8-67.2 57.6v19.2c0 1.1.5 2.1.8 3.2H64c-8.8 0-16-7.2-16-16V128c0-8.8 7.2-16 16-16h144v48h160v-48h144c8.8 0 16 7.2 16 16v320zM288 224c-35.3 0-64 28.7-64 64s28.7 64 64 64 64-28.7 64-64-28.7-64-64-64z"></path>
          </svg>
        </span>
        <span class="side-menu-text"
              [ngClass]="{'visible-content': minibar === false, 'hidden-content' : minibar === true }">Client Search</span>
      </p>
    </a>
  </li>

  <li class="nav-item side-menu-item">
    <a class="nav-link ps-0" routerLinkActive="active">
      <span class="ps-2" (click)="expand('manage')">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe-europe"
             class="svg-inline--fa fa-globe-europe fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 496 512"><path fill="currentColor"
                                         d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm200 248c0 22.5-3.9 44.2-10.8 64.4h-20.3c-4.3 0-8.4-1.7-11.4-4.8l-32-32.6c-4.5-4.6-4.5-12.1.1-16.7l12.5-12.5v-8.7c0-3-1.2-5.9-3.3-8l-9.4-9.4c-2.1-2.1-5-3.3-8-3.3h-16c-6.2 0-11.3-5.1-11.3-11.3 0-3 1.2-5.9 3.3-8l9.4-9.4c2.1-2.1 5-3.3 8-3.3h32c6.2 0 11.3-5.1 11.3-11.3v-9.4c0-6.2-5.1-11.3-11.3-11.3h-36.7c-8.8 0-16 7.2-16 16v4.5c0 6.9-4.4 13-10.9 15.2l-31.6 10.5c-3.3 1.1-5.5 4.1-5.5 7.6v2.2c0 4.4-3.6 8-8 8h-16c-4.4 0-8-3.6-8-8s-3.6-8-8-8H247c-3 0-5.8 1.7-7.2 4.4l-9.4 18.7c-2.7 5.4-8.2 8.8-14.3 8.8H194c-8.8 0-16-7.2-16-16V199c0-4.2 1.7-8.3 4.7-11.3l20.1-20.1c4.6-4.6 7.2-10.9 7.2-17.5 0-3.4 2.2-6.5 5.5-7.6l40-13.3c1.7-.6 3.2-1.5 4.4-2.7l26.8-26.8c2.1-2.1 3.3-5 3.3-8 0-6.2-5.1-11.3-11.3-11.3H258l-16 16v8c0 4.4-3.6 8-8 8h-16c-4.4 0-8-3.6-8-8v-20c0-2.5 1.2-4.9 3.2-6.4l28.9-21.7c1.9-.1 3.8-.3 5.7-.3C358.3 56 448 145.7 448 256zM130.1 149.1c0-3 1.2-5.9 3.3-8l25.4-25.4c2.1-2.1 5-3.3 8-3.3 6.2 0 11.3 5.1 11.3 11.3v16c0 3-1.2 5.9-3.3 8l-9.4 9.4c-2.1 2.1-5 3.3-8 3.3h-16c-6.2 0-11.3-5.1-11.3-11.3zm128 306.4v-7.1c0-8.8-7.2-16-16-16h-20.2c-10.8 0-26.7-5.3-35.4-11.8l-22.2-16.7c-11.5-8.6-18.2-22.1-18.2-36.4v-23.9c0-16 8.4-30.8 22.1-39l42.9-25.7c7.1-4.2 15.2-6.5 23.4-6.5h31.2c10.9 0 21.4 3.9 29.6 10.9l43.2 37.1h18.3c8.5 0 16.6 3.4 22.6 9.4l17.3 17.3c3.4 3.4 8.1 5.3 12.9 5.3H423c-32.4 58.9-93.8 99.5-164.9 103.1z"></path></svg>
        <svg *ngIf="minibar" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right"
             class="ps-2 svg-inline--fa fa-angle-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 256 512"><path fill="currentColor"
                                         d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
      </span>
      <span class="side-menu-text" (click)="expand('manage')"
            [ngClass]="{'visible-content': minibar === false, 'hidden-content' : minibar === true }">
        Realms
      </span>


      <span class="float-right">
        <button class="btn btn-new align-middle"
                [ngClass]="{'visible-content': minibar === false, 'hidden-content' : minibar === true }"
                (click)="addRealm()" data-bs-toggle="modal" data-bs-target="#addEditModal">
          <span class="" [ngClass]="{'visible-content': minibar === false, 'hidden-content' : minibar === true }"
                href="#">Add Realm</span>
        </button>
        &nbsp;
        <!--        <svg *ngIf="collapseManage"-->
        <!--             [ngClass]="{'visible-content': minibar === false, 'hidden-content' : minibar === true }" aria-hidden="true"-->
        <!--             focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline&#45;&#45;fa fa-angle-down fa-w-10"-->
        <!--             role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor"-->
        <!--                                                                                       d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>-->
        <!--        <svg *ngIf="!collapseManage"-->
        <!--             [ngClass]="{'visible-content': minibar === false, 'hidden-content' : minibar === true }" aria-hidden="true"-->
        <!--             focusable="false" data-prefix="fas" data-icon="angle-up" class="svg-inline&#45;&#45;fa fa-angle-up fa-w-10"-->
        <!--             role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor"-->
        <!--                                                                                       d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"></path></svg>-->
      </span>
    </a>
  </li>
  <li class="collapsible" [@collapse]="collapseManage">

    <ul class="ps-0" [ngClass]="{'visible-content': minibar === false, 'hidden-content' : minibar === true }">
      <li class="nav-item side-menu-item-sub collapsible" *ngFor="let realm of realms">
        <a class="nav-link ps-0 " routerLink="/realms/{{realm.id}}/edit" *ngIf="!collapseManage"
           [@collapse]="collapseManage" routerLinkActive="active">
          <div class="row">
            <span class="side-menu-text col-md-10 pt-3" (click)="selectRealmId(realm);">{{realm.name}}</span>
            <span class="float-right realm-3-dots  position-absolute end-0 col-md-2" [ngClass]="getLeftNavClass(realm)"
                  (click)="toggleEditRealm(realm);"> <i class="fas fa-ellipsis-v"></i> </span>
          </div>
        </a>
      </li>
    </ul>

  </li>


</ul>

<app-footer [ngClass]="{'visible-content': minibar === false, 'hidden-content' : minibar === true }"></app-footer>

