.sidebar {
  margin-left: 0px;
  background: #5B5E66 0% 0% no-repeat padding-box;
  opacity: 1;
}
.sidebar-logo {
  height: 70px;
  border-bottom: solid 1px #364050;
  opacity: 1;
  border-width: thin;
  margin-right: 0px;
}
.sidebar-logo svg{
  height: 26px;
  width:24px;
}
.menu-icon {
  position: absolute;
}
.menu-icon i {
  color: #fff;
  height: 12px;
  width: 12px;
  margin-top: 25px;
  cursor: pointer;
}
.visible-content1 {
  display: flex;
}
.visible-content {
  min-height: 20px;
  /*max-height: 0;*/
  opacity: 1;
  /*-webkit-transition: all 2s ease-in-out;*/
  /*transition: all 2s ease-in-out;*/
}
.hidden-content1 {
  display: none !important;
}
.hidden-content {
  min-height: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-icon-only1 {
  padding-left: 50px;
}
.menu-icon-only {
  padding-left: 6px;
  min-height: 50px;
  max-height: 0;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.sep-item{
    height: 30px;
}
.side-menu-item {
  height: 50px;
  margin-left: 0px;
  color: #A0A9B5;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
}

.side-menu-item a {
  width: 100%;
  height: 100%;
  padding: 15px !important;
  color: #FFFFFF;
  opacity: 0.7;
}

.side-menu-item a:hover {
  color: #fff;
}

.side-menu-item a.active {
  color: #fff;
  background: #50535A  0% 0% no-repeat padding-box;
  opacity: 1;
  border-left: solid 2px #FFF;
}

.side-menu-item-sub {
  height: 50px;
  margin-left: 0px;
  color: #A0A9B5;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
}

.side-menu-item-sub a {
  width: 100%;
  height: 100%;
  padding-left: 36px !important;
  padding-top:15px;
  color: #FFFFFF;
  opacity: 0.7;
}

.side-menu-item-sub a:hover {
  color: #fff;
}

.side-menu-item-sub a.active {
  color: #fff;
  background: #50535A  0% 0% no-repeat padding-box;
  opacity: 1;
  border-left: solid 2px #FFF;
}

.side-menu-item-sub a.active:before {
  content: "";
  font-size: 30px;
  margin-top: -14px;
  float: left;
  display: block;
  color: #418bca;
  margin-left: -20px;
}

.side-menu-item svg {
  width: 18px;
  height: 14px;
}

  .side-menu-item .side-menu-text {
    padding-left: 7px;
    padding-top: 1px;
    display: inline;
    position: absolute;
    width: max-content;
    font-family: 'Montserrat', sans-serif;
  }

.side-menu-item-sub .side-menu-text {
  height: 50px;
  margin-top: -15px;
}

.dropdown-menu {
  position: relative !important;
}

.collapsible {
  overflow: hidden;
}

  /******************************/

