<div class="modal-header">
  <div class="modal-title end-50 w-100 text-capitalize" id="addEditModalLabel">
    Add Realm
  </div>
</div>
<div class="modal-body modal-styles">
  <div class="row">
    <div class="col">
      <div class="c-font-16 c-font-c-1">
        Realms
      </div>
    </div>
  </div>
  <form #addRealmForm [formGroup]="formGroup">
    <div class="row mt-3">
      <div class="col-md-5">
        <label class="form-label c-font-c-2 c-font-12">Key</label>

        <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
               formControlName="key" type="text" placeholder="Type here..."
               [class.is-invalid]="formGroup.controls['key'].invalid && (formGroup.controls['key'].dirty || formGroup.controls['key'].touched)">
        <div
          *ngIf="formGroup.controls['key'].invalid && (formGroup.controls['key'].dirty || formGroup.controls['key'].touched)"
          class="text-danger">
          <div *ngIf="formGroup.controls['key'].errors.required">
            Key is required.
          </div>
        </div>

      </div>
      <div class="col-md-5 offset-2">
        <label class="form-label c-font-c-2 c-font-12">Name</label>

        <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
               formControlName="name" type="text" placeholder="Type here..."
               [class.is-invalid]="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)">
        <div
          *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)"
          class="text-danger">
          <div *ngIf="formGroup.controls['name'].errors.required">
            Name is required.
          </div>
        </div>
      </div>

    </div>
    <div class="row mt-3">
      <div class="col-md-5">
        <label for="userStorageId" class="form-label c-font-c-2 c-font-12">User Storage</label>
        <select name="userStorageId" data-size="10" formControlName="userStorageId"
                class="form-control c-font-c-0 c-font-14" id="userStorageId"
                data-style="btn btn-primary btn-round" title="userStorageId"
                [class.is-invalid]="formGroup.controls['userStorageId'].invalid && (formGroup.controls['userStorageId'].dirty || formGroup.controls['userStorageId'].touched)">
          <option selected value="">Choose...</option>
          <option *ngFor="let storage of storages" [value]="storage.id">
            {{storage.name}}
          </option>
        </select>
        <div
          *ngIf="formGroup.controls['userStorageId'].invalid && (formGroup.controls['userStorageId'].dirty || formGroup.controls['userStorageId'].touched)"
          class="text-danger">
          <div *ngIf="formGroup.controls['userStorageId'].errors.required">
            User Storage is required.
          </div>
        </div>
      </div>
      <div class="col-md-5 offset-2">
        <label for="clientStorageId" class="form-label c-font-c-2 c-font-12">Client Storage</label>
        <select name="clientStorageId" data-size="10" formControlName="clientStorageId"
                class="form-control c-font-c-0 c-font-14" id="clientStorageId"
                data-style="btn btn-primary btn-round" title="clientStorageId"
                [class.is-invalid]="formGroup.controls['clientStorageId'].invalid && (formGroup.controls['clientStorageId'].dirty || formGroup.controls['clientStorageId'].touched)">
          <option selected value="">Choose...</option>
          <option *ngFor="let storage of storages" [value]="storage.id">
            {{storage.name}}
          </option>
        </select>
        <div
          *ngIf="formGroup.controls['clientStorageId'].invalid && (formGroup.controls['clientStorageId'].dirty || formGroup.controls['clientStorageId'].touched)"
          class="text-danger">
          <div *ngIf="formGroup.controls['clientStorageId'].errors.required">
            Client Storage is required.
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-5">
        <label class="form-label c-font-c-2 c-font-12">Token Lifetime (in minutes)</label>

        <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
               formControlName="tokenLifetimeInMinutes" type="number"
               [class.is-invalid]="formGroup.controls['tokenLifetimeInMinutes'].invalid && (formGroup.controls['tokenLifetimeInMinutes'].dirty || formGroup.controls['tokenLifetimeInMinutes'].touched)">
        <div
          *ngIf="formGroup.controls['tokenLifetimeInMinutes'].invalid && (formGroup.controls['tokenLifetimeInMinutes'].dirty || formGroup.controls['tokenLifetimeInMinutes'].touched)"
          class="text-danger">
          <div *ngIf="formGroup.controls['tokenLifetimeInMinutes'].errors.required">
            Token Lifetime is required.
          </div>
        </div>
      </div>
      <div class="col-md-5 offset-2">
        <label class="form-label c-font-c-2 c-font-12">Change Notification Email Addresses</label>
        <input class="form-control c-font-c-0 c-font-14" formControlName="emailAddresses" theme='regular-theme'
               placeholder="Type here ..." type="email"
               [class.is-invalid]="formGroup.controls['emailAddresses'].errors?.pattern">
        <div class="text-danger" *ngIf="formGroup.controls['emailAddresses'].errors?.pattern">
          Email is not valid
        </div>
      </div>

    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <label for="description" class="form-label c-font-c-2 c-font-12">Description</label>
        <textarea class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                  formControlName="description" id="description"
                  [class.is-invalid]="formGroup.controls['description'].invalid && (formGroup.controls['description'].dirty || formGroup.controls['description'].touched)"></textarea>
        <div
          *ngIf="formGroup.controls['description'].invalid && (formGroup.controls['description'].dirty || formGroup.controls['description'].touched)"
          class="text-danger">
          <div *ngIf="formGroup.controls['description'].errors.required">
            Description is required.
          </div>
        </div>
      </div>


    </div>
  </form>

  <div class="row mt-3">
    <div class="text-left display-block">
      <button type="button" class="btn btn-common c-font-12" (click)="addRealm('route')"
              [disabled]="formGroup.pristine || formGroup.invalid">Roles & Users
      </button>
      <button type="button" class="btn btn-cancel c-font-c-5 c-font-12 ms-3" (click)="addRealm('save')"
              [disabled]="formGroup.pristine || formGroup.invalid">Save & Exit
      </button>
    </div>
    <button type="button" class="close display-none" aria-hidden="true" data-bs-dismiss="modal"
            #closeAddEditModal></button>
  </div>
</div>
