<div class="grid-action-buttons">
  <!--<select name="role" data-size="10" class="form-control c-font-c-0 c-font-14"
          data-style="btn btn-primary btn-round" title="Role" (change)="addUserToRole()" [(ngModel)]="selectedRole">
    <option selected value="">Choose...</option>
    <ng-container *ngFor="let role of cacheService.allRoles">
      <ng-container *ngIf="role.realmId == params.data.id">
        <option *ngFor="let r of role.roles" [value]="r.id +'-'+ r.name ">
          {{r.name}}
        </option>
      </ng-container>
    </ng-container>
  </select>-->
  <mat-select [(value)]="selectedRole" multiple class="form-control c-font-c-0 c-font-14" name="role"  (selectionChange)="updateSelectedItems()">

    <div class="row mat-select-top-row">
      <div class="col-md-81" *ngIf="params.doNotshowTitle">
        <mat-option class="display-none" *ngIf="this.params.data?.roles == null || this.params.data?.roles?.length == 0" selected value="Select Multiple" [disabled]="true">Select Multiple</mat-option>
        <mat-option class="display-none" *ngIf="this.params.data?.roles != null && this.params.data?.roles?.length > 0" selected value="Select More" [disabled]="true">Select More</mat-option>
      </div>
      <div class="col-md-11 pt-1" *ngIf="params.applyOption"><a class="btn btn-common btn-sm c-font-10 position-absolute end-0 me-5 pe-5" (click)="addRoles()">Apply</a></div>
    </div>

    <ng-container *ngFor="let role of cacheService.allRoles">
      <ng-container *ngIf="role.realmId == params.data.id || role.realmId == params.data.realmId">
        <mat-option *ngFor="let r of role.roles" [value]="r.id +'-'+ r.name " [ngClass]="isAlreadySelected(r.id)">
          {{r.name}}
        </mat-option>
      </ng-container>
    </ng-container>

    <mat-select-trigger *ngIf="params.doNotshowTitle">
      <span> {{this.params.data?.roles?.length > 0 ? 'Select More' : 'Select Multiple'}}</span>
    </mat-select-trigger>

  </mat-select>
</div>
