/*.wrapper-full-page {
  background-size: cover;
}
.login-page-form-icons{
    height: 25px;
    width: 15px;
}
.login-row{
    margin-top: 5px;
}
.form-login{
    margin-left:210px;
}
*/


.login-left {
  width: auto;
  height: auto;
  float: left;
  background: white;
  text-align: center;
}

.login-container {
  background: linear-gradient(to right, #EFF1F4 0%,#EFF1F4 40.5%,#5B5E66 40.5%,#5B5E66 100%);
}

.login-outer-box {
  margin-left: -19%;
  width: auto;
  border-radius: 12px !important;
  /*box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%) !important;*/
  background: linear-gradient(to right, #fff 0%,#fff 50%,#F4F3EF 50%,#F4F3EF 100%);
}

.welcome-text {
  font-size: 22px;
  color: #000;
  display: block;
  opacity: 1;
}

.login-text-input {
  border: 1px solid #E7EAED;
  border-radius: 4px;
  opacity: 1;
  width: 60%;
}

.keep-logged-wrap {
  width: 75% !important;
}

.keep-logged-in {
  text-align: left;
  font: normal normal 300 13px/16px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 3px;
  margin-top: 2px;
}

.right-section-login {
  background: #EFF1F4;
}

.login-right-text {
  display: grid;
  justify-content: end;
  position: absolute;
  font: normal normal 300 13px/16px Montserrat, Helvetica Neue, Arial, sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  text-align: right;
  font-family: Montserrat;
}

.login-left-text-head {
  text-align: left;
  font: normal normal bold 15px/19px Montserrat;
  letter-spacing: 0px;
  color: #66615B;
  opacity: 1;
}

.login-submit-btn {
  width: 60%;
  height: 36px;
  background-color: #2852C4;
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}

.airport-right-side {
  width: 127% !important;
  max-width: 150%;
  margin-left: -55px;
}
