<div class="wrapper d-flex justify-content-center login-container align-items-center h-100 w-100">
  <div class="shadow p-3 bg-white rounded login-outer-box ">
    <div class="row w-100 mx-0">
      <div class="col-md-6 d-flex align-items-center">
        <div class="card-body login-left ms-1 ml-1 w-100 me-3 mr-3">
          <img src="./assets/images/logo-signature-asa-grey.png">
          <span class="header text-center welcome-text text-center w-100 mb-5 mt-4"><b>Welcome Back</b></span>
          <div class="row my-3" [ngClass]="{'input-group-focus':focus===true}">
            <div class="d-flex justify-content-center w-100">
              <input [(ngModel)]="userName" name="username" type="text"
                     class="form-control login-text-input"
                     placeholder="User Email..." (focus)="focus=true" (blur)="focus=false">
            </div>
          </div>
          <div class="row my-4">
            <div class="d-flex justify-content-center w-100"
                 [ngClass]="{'input-group-focus':focus1===true}">
              <input type="password" name="password" [(ngModel)]="password"
                     placeholder="Your Password..." class="form-control login-text-input"
                     (focus)="focus1=true"
                     (blur)="focus1=false">
            </div>
          </div>
          <div class="row my-0 mt-0 pb-2">
            <div class="keep-logged-wrap d-flex justify-content-center"
                 [ngClass]="{'input-group-focus':focus1===true}">
              <span class="text-danger mt-2 d-flex justify-content-center" [innerHtml]="errorMessage"></span>
            </div>
          </div>

          <div class="row my-3">
            <div class="d-flex justify-content-center w-100"
                 [ngClass]="{'input-group-focus':focus1===true}">
              <button class="offset-1 btn btn-info mr-2 ms-0 my-0 rounded-4 login-submit-btn"
                      [disabled]="loginDisabled" (click)="onLogin()">
                {{loginStatus}}

                <i class="fa fa-long-arrow-right mt-1 float-right" aria-hidden="true"></i>

              </button>
            </div>
          </div>
          <div class="row my-3">
            <div class="d-flex justify-content-center w-100"
                 [ngClass]="{'input-group-focus':focus1===true}">
              <!--                            <a href="#" class="forgot-password">Forgot Your Password?</a>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 right-section-login">
        <img src="./assets/images/SignFlightSupport.png" class="px-3 py-3 float-right" />
        <div class="px-5 login-right-text pt-0 pb-5 mb-5">
          We have added some new <br/> awesome features.
        </div>
        <img src="./assets/images/asa-login-image.png" class="mb-5 mt-5 airport-right-side" />
      </div>
    </div>
  </div>
</div>
