.ddl-ul {
  margin-left: -150%;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #dee2e6 #dee2e6 #fff;
}
.ddl-ul label {
  cursor: pointer;
}
.col-ddl-title {
  font-size: 12px;
}
