<nav class="navbar navbar-expand-sm navbar-light bg-white" *ngIf="enableShowHideCols">
  <div class="container-fluid1 w-100 mb-2">
    <div class="row mt-0 w-100">
      <div class="px-0 col-11">
      </div>
      <div class="px-0 col-1">
        <div class="collapse navbar-collapse ms-5" id="navbarNavDropdown">
          <ul class="navbar-nav pos-absolute">
            <li class="nav-item dropdown ">
              <a #ddlColListHandler class="nav-link dropdown-toggle col-ddl-title" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
              </a>
              <ul #ddlColList class="dropdown-menu ddl-ul" aria-labelledby="navbarDropdownMenuLink">
                <li *ngFor="let item of gridOptions.columnDefs; let i = index">
                  <button class="dropdown-item" *ngIf="item.field != 'actions' && !item.pk">
                    <div class="btn-group w-100" *ngIf="!item.hide" role="group" aria-label="Basic checkbox toggle button group">
                      <input type="checkbox" checked class="btn-check" (click)="showHideColumn(item.field)" id="{{item.field}}" autocomplete="off">
                      <label class="btn-outline-primary w-100 ps-2" for="{{item.field}}">{{item.headerName}}</label>
                    </div>
                    <div class="btn-group w-100" *ngIf="item.hide" role="group" aria-label="Basic checkbox toggle button group">
                      <input type="checkbox" class="btn-check" (click)="showHideColumn(item.field)" id="{{item.field}}" autocomplete="off">
                      <label class="btn-outline-primary w-100 ps-2" for="{{item.field}}">{{item.headerName}}</label>
                    </div>
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<ag-grid-angular #agGrid
                 id="myGrid"
                 class="ag-theme-balham"
                 [gridOptions]="gridOptions"
                 [domLayout]="domLayout"
                 [rowData]="gridData">
</ag-grid-angular>

<select class="custom-grid-pagination-ddl" (change)="changePageSize()" [(ngModel)]="gridDefaultPageSize" style="width: 50px;height: 20px;">
  <option *ngFor="let object of gridPageSizeArray" value="{{object}}">
    {{object}}
  </option>
</select>
