<div class="container-fluid">
  <div class="body-inner-container pt-3">

    <div class="container tab-content p-3 pt-2 mw-none">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link c-font-c-8 active c-font-14-b w-100 display-flex">
          Add User
        </button>
      </div>
      <div class="tab-pane fade show active" role="tabpanel">
        <div class="mb-3 ms-2">
          <form class="form-horizontal ng-untouched ng-pristine ng-invalid" [formGroup]="formGroup" novalidate>

            <div class="row g-3 col-md-9">
              <div class="col-md-12">

                <div class="col-md-8">
                  <label for="storage" class="form-label c-font-c-2 c-font-12">Storage</label>
                  <div class="w-50">
                    <mat-select (selectionChange)="changePasswordProps()" formControlName="userstorageid"  class="form-control c-font-c-0 c-font-14" id="storage" data-style="btn btn-primary btn-round" title="storage">
                      <mat-option selected value="">Choose...</mat-option>
                      <mat-option *ngFor="let storage of storages" [value]="storage.id">
                        {{storage.name}}
                      </mat-option>
                    </mat-select>
                    <div class="text-danger"
                         *ngIf="formGroup.controls['userstorageid'].touched && formGroup.controls['userstorageid'].hasError('required')">
                      Storage is required.
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <label class="form-label c-font-c-2 c-font-12"> FIrst Name </label>
                <div class="col-sm-8">
                  <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                         formControlName="firstname" type="text">
                  <div
                    *ngIf="formGroup.controls['firstname'].invalid && (formGroup.controls['firstname'].dirty || formGroup.controls['firstname'].touched)"
                    class="text-danger">
                    <div *ngIf="formGroup.controls['firstname'].errors.required">
                      First Name is required.
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <label class="form-label c-font-c-2 c-font-12"> Last Name </label>
                <div class="col-sm-8">
                  <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                         formControlName="lastname" type="text">
                  <div
                    *ngIf="formGroup.controls['lastname'].invalid && (formGroup.controls['lastname'].dirty || formGroup.controls['lastname'].touched)"
                    class="text-danger">
                    <div *ngIf="formGroup.controls['lastname'].errors.required">
                      Last Name is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label c-font-c-2 c-font-12"> Email Address </label>
                <div class="col-sm-8">
                  <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                         formControlName="email" type="text">
                  <div
                    *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)"
                    class="text-danger">
                    <div *ngIf="formGroup.controls['email'].errors.required">
                      Email is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label class="form-label c-font-c-2 c-font-12"> User Name </label>
                <div class="col-sm-8">
                  <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                         formControlName="username" type="text">
                  <div
                    *ngIf="formGroup.controls['username'].invalid && (formGroup.controls['username'].dirty || formGroup.controls['username'].touched)"
                    class="text-danger">
                    <div *ngIf="formGroup.controls['username'].errors?.required">
                      User Name is required.
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-6" *ngIf="selectedStorage && selectedStorage.canSetPassword">
                <label class="form-label c-font-c-2 c-font-12"> Password </label>
                <div class="col-sm-8">
                  <input class="form-control ng-untouched ng-pristine ng-invalid"
                         formControlName="password" type="password" autocomplete="new-password">
                  <div
                    *ngIf="formGroup.controls['password'].invalid && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)"
                    class="text-danger">
                    <div *ngIf="formGroup.controls['password'].errors?.required">
                      Password is required.
                    </div>
                  </div>
                  <div class="text-danger" *ngIf="!passwordConfirmed()">
                    The two entered passwords must match.
                  </div>
                </div>
              </div>


              <div class="col-md-6" *ngIf="selectedStorage && selectedStorage.canSetPassword">
                <label class="form-label c-font-c-2 c-font-12"> Confirm Password </label>
                <div class="col-sm-8">
                  <input class="form-control ng-untouched ng-pristine ng-invalid"
                         formControlName="confirmpassword" type="password" autocomplete="new-password">
                  <div
                    *ngIf="formGroup.controls['confirmpassword'].invalid && (formGroup.controls['confirmpassword'].dirty || formGroup.controls['confirmpassword'].touched)"
                    class="text-danger">
                    <div *ngIf="formGroup.controls['confirmpassword'].errors?.required">
                      You must confirm your password.
                    </div>
                  </div>
                  <div class="text-danger" *ngIf="!passwordConfirmed()">
                    The two entered passwords must match.
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="mb-1 ms-2">
          <label class="form-label c-font-c-0 c-font-12 ps-0">Please Save user before adding roles and
            permissions.</label>
        </div>

        <div class="mb-1 ms-2">
          <button class="btn c-font-12 btn-common" type="submit" (click)="save()"
                  [disabled]="formGroup === undefined || formGroup.pristine || formGroup.invalid || !passwordConfirmed()">
            Save User
          </button>
          <button type="button" class="btn btn-cancel c-font-c-8 c-font-12 ms-3"
                  (click)="this.formGroup.reset();createForm('');">Cancel
          </button>
        </div>
      </div>
      <div class="tab-pane fade" id="contant-tab-btn-2" role="tabpanel">...</div>
    </div>

    <div class="content-grid pt-2 pb-3">
      <div class="pt-2" id="nav-tabContent">
        <div class="tab-pane fade show active" id="contant-tab-btn-1" role="tabpanel">
          <div class="card">
            <span class="bg-white card-header grid-card-header c-font-18-b c-font-c-1 ps-4">
              <label class="vertical-text-align-middle">Set User's Roles in Reals</label>
            </span>

            <div class="card-body ps-4">
              <app-grid [gridData]="itemRowData" [colDefKey]="colDefKey" [enableShowHideCols]="false"></app-grid>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<!--<div class="main-content">
  <div *ngIf="user">
    <div class="row">
      <div class="card">
        <div class="card-header ">
          <h4 class="card-title">
            Add A New User
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <form class="form-horizontal ng-untouched ng-pristine ng-invalid" autocomplete="off" [formGroup]="formGroup" novalidate>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-6 control-label"> User Storage </label>
                    <div class="col-sm-6">
                      <div>
                        <select (change)="selectStorage()" formControlName="userstorageid" data-size="10" data-style="btn btn-primary btn-round"
                                title="Select">
                          <option *ngFor="let storage of storages" [value]="storage.id">
                            {{storage.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div *ngIf="selectedStorage">
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-6 control-label"> First Name </label>
                      <div class="col-sm-6">
                        <input class="form-control ng-untouched ng-pristine ng-invalid"
                               formControlName="firstname" type="text">
                        <div *ngIf="formGroup.controls['firstname'].invalid && (formGroup.controls['firstname'].dirty || formGroup.controls['firstname'].touched)"
                             class="text-danger">
                          <div *ngIf="formGroup.controls['firstname'].errors?.required">
                            First Name is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-12 col-lg-6">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-6 control-label"> Last Name </label>
                      <div class="col-sm-6">
                        <input class="form-control ng-untouched ng-pristine ng-invalid"
                               formControlName="lastname" type="text">
                        <div *ngIf="formGroup.controls['lastname'].invalid && (formGroup.controls['lastname'].dirty || formGroup.controls['lastname'].touched)"
                             class="text-danger">
                          <div *ngIf="formGroup.controls['lastname'].errors?.required">
                            Last Name is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-6 control-label"> User Name </label>
                      <div class="col-sm-6">
                        <input class="form-control ng-untouched ng-pristine ng-invalid"
                               formControlName="username" type="text">
                        <div *ngIf="formGroup.controls['username'].invalid && (formGroup.controls['username'].dirty || formGroup.controls['username'].touched)"
                             class="text-danger">
                          <div *ngIf="formGroup.controls['username'].errors?.required">
                            User Name is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-12 col-lg-6">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-6 control-label"> Email </label>
                      <div class="col-sm-6">
                        <input class="form-control ng-untouched ng-pristine ng-invalid"
                               formControlName="email" type="email">
                        <div *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)"
                             class="text-danger">
                          <div *ngIf="formGroup.controls['email'].errors?.required">
                            Email is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="row">
              </div>
              <div *ngIf="selectedStorage && selectedStorage.canSetPassword" class="row">
                <div class="col-md-12 col-lg-6">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-2 control-label"> Password </label>
                      <div class="col-sm-6">
                        <input class="form-control ng-untouched ng-pristine ng-invalid"
                               formControlName="password" type="password" autocomplete="new-password">
                        <div *ngIf="formGroup.controls['password'].invalid && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)"
                             class="text-danger">
                          <div *ngIf="formGroup.controls['password'].errors?.required">
                            Password is required.
                          </div>
                        </div>
                        <div class="text-danger" *ngIf="!passwordConfirmed()">
                          The two entered passwords must match.
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-12 col-lg-6">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-2 control-label"> Confirm Password </label>
                      <div class="col-sm-6">
                        <input class="form-control ng-untouched ng-pristine ng-invalid"
                               formControlName="confirmpassword" type="password" autocomplete="new-password">
                        <div *ngIf="formGroup.controls['confirmpassword'].invalid && (formGroup.controls['confirmpassword'].dirty || formGroup.controls['confirmpassword'].touched)"
                             class="text-danger">
                          <div *ngIf="formGroup.controls['confirmpassword'].errors?.required">
                            You must confirm your password.
                          </div>
                        </div>
                        <div class="text-danger" *ngIf="!passwordConfirmed()">
                          The two entered passwords must match.
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-left">-->
<!--<button class="btn btn-info btn-fill" type="submit" (click)="save()"
        [disabled]="form === undefined || formGroup.pristine || formGroup.invalid || !passwordConfirmed()">
  Add User
</button>-->
<!--</div>
</form>
</div>
</div>
</div>
</div>-->
