<div class="modal fade" id="addEditModal" tabindex="-1" aria-labelledby="addEditModalLabel" aria-hidden="true">
  <div class="modal-dialog content-model">
    <div class="modal-content modal-popup-dialog-container" *ngIf="modalData">
      <div *ngIf="modalData.componentKey == const.ComponentKeySearchClients">
        <app-alert-client *ngIf="modalData.actionKey == const.ActionKeyNew" [childModalData]="modalData"></app-alert-client>
      </div>

      <div *ngIf="modalData.componentKey == const.ComponentKeySearchUsers">
        <app-alert-user *ngIf="modalData.actionKey == const.ActionKeyNew" [childModalData]="modalData"></app-alert-user>
      </div>

      <div *ngIf="modalData.componentKey == const.ComponentKeyAddRealm">
        <app-add-realm *ngIf="modalData.actionKey == const.ActionKeyNew" [childModalData]="modalData"></app-add-realm>
      </div>

      <div *ngIf="modalData.componentKey == const.ComponentKeyViewRealmPermissions">
        <app-view-permissions [childModalData]="modalData"></app-view-permissions>
      </div>

      <div *ngIf="modalData.componentKey == const.ComponentKeyAddUsersToRealm">
        <app-add-users-to-realm *ngIf="modalData.actionKey == const.ActionKeyNew" [childModalData]="modalData"></app-add-users-to-realm>
      </div>

      <div *ngIf="modalData.componentKey == const.ComponentKeyAddRolesToRealm || modalData.componentKey == const.ID_Role">
        <app-add-roles-to-realm *ngIf="modalData.actionKey == const.ActionKeyNew" [childModalData]="modalData"></app-add-roles-to-realm>
        <app-edit-roles-to-realm *ngIf="modalData.actionKey == const.ActionKeyEdit" [childModalData]="modalData"></app-edit-roles-to-realm>
      </div>

      <div *ngIf="modalData.componentKey == const.ComponentKeyAddPermissionsToRealm">
        <app-add-permissions-to-realm *ngIf="modalData.actionKey == const.ActionKeyNew" [childModalData]="modalData"></app-add-permissions-to-realm>
      </div>

      <div *ngIf="modalData.componentKey == const.ComponentKeyAddClientsToRealm">
        <app-select-client *ngIf="modalData.actionKey == const.ActionKeyNew" [childModalData]="modalData"></app-select-client>
      </div>

      <div *ngIf="cacheService.getUserSettings()?.doNotShowSavePopUp == 'false'">
        <app-success [hidden]="!(modalData.actionKey == const.ActionKeyAdded || modalData.actionKey == const.ActionKeyUpdated)" [childModalData]="modalData"></app-success>
      </div>
      <div>
        <app-delete-row *ngIf="modalData.actionKey == const.ActionKeyDelete || modalData.actionKey == const.ActionKeyDeleted" [childModalData]="modalData"></app-delete-row>
      </div>
      <button id="btnClosePopup" hidden type="button" class="btn btn-cancel c-font-c-5 c-font-12" data-bs-dismiss="modal">Cancel</button>

    </div>
  </div>
</div>

<div [class.show]="visibleMessage" [class.in]="visibleMessage" [class.display-block]="visibleMessage" class="modal modal-error-info-success-message fade align-self-center end-0" id="errorInfoSuccessMessageModal" tabindex="-1" aria-labelledby="errorInfoSuccessMessage" aria-hidden="true">
  <div class="modal-dialog error-model row w-auto">
    <div class="modal-content col align-self-center mt-2 ps-0 border border-secondary rounded-0">
      <div class="modal-header1 display-flex pe-0">
        <div class="error-message-content c-font-16 c-font-c-1 user-select-auto">

          <div *ngFor="let i of items" [ngClass]="{'border-danger alert-danger': i.type == 'ERROR', 'border-info1 alert-info1': i.type == 'INFO', 'border-success1 alert-success1': i.type == 'SUCCESS', 'border-warning1 alert-warning1': i.type == 'WARNING'}"
               class="error-item ps-2 border1  rounded1 alert p-1 ms-0 me-0 mb-0">
            <i *ngIf="i.type == 'ERROR'" class="fa fa-exclamation-triangle me-2" aria-hidden="true"></i>
            <i *ngIf="i.type == 'INFO'" class="fa fa-info-circle me-2" aria-hidden="true"></i>
            <i *ngIf="i.type == 'SUCCESS'" class="fa fa-check me-2" aria-hidden="true"></i>
            <i *ngIf="i.type == 'WARNING'" class="fa fa-exclamation-triangle me-2" aria-hidden="true"></i>
            <span [innerHTML]="i.message"></span>
          </div>

        </div>
        <button type="button" class="close error-modal-close-btn" data-dismiss="modal" (click)="closeError()" aria-hidden="true">X</button>
      </div>
    </div>
  </div>
</div>
