.nav-header {
    height: 70px;
}
.right-top-menu li{
  margin-left: 18px;
}
.current-user {
  font-size: 14px;
  color: #0D1F2C;
}
.current-user-name {
  font-size: 14px;
  color: #418BCA;
}
.user-img img {
  height: 40px;
  width: 40px;
  margin-top: -7px;
}
.right-top-menu .user-img{
    margin-top: -1px;
}
.setting-icon {
  color: #0D1F2C;
}
.dropdown a {
  padding-left: 0px;
  padding-right: 0px;
}
.setting-dropdownmenu {
  margin-top: -10px;
  width: auto;
  min-width: 30px;
  margin-left: -40px;
  padding-left: 10px;
  padding-right: 10px;
}
.setting-dropdownmenu li{
    margin-left: 0px;
    cursor:pointer;
}
.application-name {
  font-size: 14px;
  color: #0D1F2C;
}
.application-path {
  display: block;
  font-size: 12px;
  color: #9DA0A3;
}
.application-path svg {
  color: #2852C4;
  height: 12px;
  width: 14px;
  margin-top: -2px;
}

.header-component{
    width:100%;
}
.global-search-icon {
  height: 16px;
  width: 16px;
  color: #0D1F2C;
  margin-top: 1px;
}
.notification-icon {
  height: 16px;
  width: 14px;
  color: #0D1F2C;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
