<div class="modal-body">
  <div class="w-100 d-flex justify-content-center">
    <div class="modal-success-message-icon c-font-c-5">
      <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="exclamation-triangle" class="svg-inline--fa fa-exclamation-triangle fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M270.2 160h35.5c3.4 0 6.1 2.8 6 6.2l-7.5 196c-.1 3.2-2.8 5.8-6 5.8h-20.5c-3.2 0-5.9-2.5-6-5.8l-7.5-196c-.1-3.4 2.6-6.2 6-6.2zM288 388c-15.5 0-28 12.5-28 28s12.5 28 28 28 28-12.5 28-28-12.5-28-28-28zm281.5 52L329.6 24c-18.4-32-64.7-32-83.2 0L6.5 440c-18.4 31.9 4.6 72 41.6 72H528c36.8 0 60-40 41.5-72zM528 480H48c-12.3 0-20-13.3-13.9-24l240-416c6.1-10.6 21.6-10.7 27.7 0l240 416c6.2 10.6-1.5 24-13.8 24z"></path></svg>
    </div>
  </div>
  <div class="c-font-20-b c-font-c-6 w-100 text-center mt-3 text-capitalize">
    {{messageTitle}}
  </div>
  <div class="c-font-14 c-font-c-6 text-center mt-4 ps-5 pe-5">
    {{message}}
  </div>
  <div class="form-check text-center c-font-14 c-font-c-6 pt-4">
    <input class="form-check-input do-not-show-radio" type="checkbox" [(ngModel)]="doNotShowMessageFlag">
    <label class="form-check-label ms-2" for="flexCheckDefault">
      Don't show this message again.
    </label>
  </div>
</div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-common" data-bs-dismiss="modal" (click)="doNotShowMessage();">Close</button>
  </div>
