<div #gridBadges class="grid-badges">
  <div>
    <span [ngClass]="alignItems(gridBadges)" class="badge-with-close" *ngFor="let r of params.data.roles">{{ r.role }}
      <label (click)="removeRole(r.roleId);"> X </label></span>
  </div>
</div>
