<div class="modal-header">
  <div class="modal-title end-50 w-100 text-capitalize" id="addEditModalLabel">Delete {{childModalData.componentKey | alphaNum}}</div>
</div>
<div class="modal-body">
  <div *ngIf="deleteSuccess" class="w-100 d-flex justify-content-center mb-3">
    <div class="modal-success-message-icon c-font-c-5">
      <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="exclamation-triangle" class="svg-inline--fa fa-exclamation-triangle fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M270.2 160h35.5c3.4 0 6.1 2.8 6 6.2l-7.5 196c-.1 3.2-2.8 5.8-6 5.8h-20.5c-3.2 0-5.9-2.5-6-5.8l-7.5-196c-.1-3.4 2.6-6.2 6-6.2zM288 388c-15.5 0-28 12.5-28 28s12.5 28 28 28 28-12.5 28-28-12.5-28-28-28zm281.5 52L329.6 24c-18.4-32-64.7-32-83.2 0L6.5 440c-18.4 31.9 4.6 72 41.6 72H528c36.8 0 60-40 41.5-72zM528 480H48c-12.3 0-20-13.3-13.9-24l240-416c6.1-10.6 21.6-10.7 27.7 0l240 416c6.2 10.6-1.5 24-13.8 24z"></path></svg>
    </div>
  </div>
  <span *ngIf="!deleteSuccess" [innerHtml]="deleteMessage()" class="c-font-14 c-font-c-6 text-center mt-4 ps-5 pe-5 w-100 d-block">
  </span>
  <span *ngIf="deleteSuccess" [innerHtml]="message" class="c-font-14 c-font-c-6 text-center mt-4 ps-5 pe-5 text-capitalize w-100 d-block">
  </span>
</div>
<div class="modal-footer text-center display-block">
  <button type="button" *ngIf="!deleteSuccess" class="btn btn-common c-font-12" (click)="delete();">Yes</button>
  <button type="button" class="btn btn-cancel c-font-c-5 c-font-12" (click)="cancel();" data-bs-dismiss="modal">Close</button>
</div>
