<div class="modal-body alert-modal-outer-div">
  <div class="row alert-triangle-icon">
    <span class="c-font-c-5 text-center">
      <i class="fal fa-exclamation-triangle fa-5x"></i>
    </span>
  </div>
  <div class="form-title c-font-20-b text-center">Alert</div>
  <div class="row alert-modal-content-text">
    <div class="col-md-6 offset-3 text-center">
      To keep database clean we encourage to search for existing client. If you are sure there is no such client, please
      proceed to creation.
    </div>
  </div>


  <div class="form-check text-center c-font-14 c-font-c-6 alert-do-not-show-option">
    <input class="form-check-input do-not-show-radio" type="checkbox" (change)="saveSetting()" [(ngModel)]="doNotShowMessageFlag">
    <label class="form-check-label ms-2 mt-1" for="flexCheckDefault">
      Don't show this message again.
    </label>
  </div>

  <div class="my-2 text-center">
    <button type="button" class="btn c-font-12 btn-common" (click)="addClient();" [routerLink]="['/clients','add']">Add Client</button>
    <button type="button" class="btn btn-cancel c-font-c-5 c-font-12 ms-3" data-bs-dismiss="modal">Search User</button>
  </div>


  <button type="button" class="close display-none" aria-hidden="true" data-bs-dismiss="modal" #closeAddEditModal></button>
</div>
