.container-fluid {
  background-color: #edf1f4;
  font-family: HelveticaNeueCyr, Roman, sans-serif;
  color: #444444;
}

.col-1 {
  flex: 0 0 auto;
  width: 5.333333%;
  transition: opacity 1s ease-out;
}

.col-11 {
  flex: 0 0 auto;
  width: 94.666667%;
  transition: all .5s ease-in-out;
}

.con-move-to-left {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  flex: 0 0 auto;
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
  width: 93.666667%;
}

.sb-move-to-left {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  flex: 0 0 auto;
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
  width: 6.333333%;
}

.con-move-to-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  flex: 0 0 auto;
  -webkit-transition: all .7s .1s ease-in-out;
  -moz-transition: all .7s .1s ease-in-out;
  -ms-transition: all .7s .1s ease-in-out;
  -o-transition: all .7s .1s ease-in-out;
  transition: all .7s .1s ease-in-out;
}

.sb-move-to-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  flex: 0 0 auto;
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}
