<div class="container-fluid h-auto min-vh-100 px-0">
  <div class="row mt-0 h-auto min-vh-100 w-100 pe-0 mx-0">
    <div class="px-0 mx-0" [ngClass]="{'col-md-2 sb-move-to-right': showLayout && minibar === false, 'col-1 sb-move-to-left' : showLayout && minibar === true, 'col-2' : !showLayout }">
      <app-sidebar *ngIf="showLayout" (handleSideBar)="handleSideBar($event)" [setSideBar]="minibar"></app-sidebar>
    </div>
    <div class="px-0" [ngClass]="{'col-md-10 con-move-to-right': showLayout && minibar === false, 'col-11 con-move-to-left' : showLayout && minibar === true, 'col-10' : !showLayout }">
      <app-header *ngIf="showLayout" [setbreadCrumb]="breadCrumb"></app-header>
      <!-- Loader -->
      <div *ngIf="showLayout" class="mt-2 pe-2 w-100 side-loader-icon">
        <app-my-loader></app-my-loader>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-base-modal></app-base-modal>
