<!--<div class="progress-loader" [hidden]="!loading">
  <div class="loading-body">
    <div class="loading-spinner">
      <i class="fa fa-spinner fa-spin ms-2"></i>
      <span class="loading-message">Please wait...</span>
    </div>
  </div>
</div>-->
<i [hidden]="!loading" class="fa fa-spinner fa-spin ms-2"></i>
