/* my-loader.component.css */
.loading-spinner {
  background-color: #0000001f;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: grid;
  z-index:99999;
}

  .loading-spinner img {
    align-self: end;
  }

.loading-spinner i {
  align-self: end;
  font-size: 50px;
  height: 50px;
  width: 50px;
  font-size:50px;
}

.loading-message {
  text-align: center;
  align-self: start;
}

.progress-loader{
    width: 100px;
    height: 100px;
}
