<div class="container-fluid">
  <div class="body-inner-container pt-3">

    <div class="container tab-content p-3 pt-2 mw-none">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link c-font-c-8 active c-font-14-b w-100 display-flex">
          Edit User
        </button>
      </div>
      <div class="tab-pane fade show active" role="tabpanel">
        <div class="mb-3 ms-2">
          <form class="form-horizontal ng-untouched ng-pristine ng-invalid" [formGroup]="formGroup" novalidate>

            <div class="row g-3 col-md-9">
              <div class="col-md-12">
                <div class="col-md-8">
                  <label for="storage" class="form-label c-font-c-2 c-font-12">Storage</label>
                  <div class="w-50">
                    <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid disabled"
                           readonly formControlName="userStorage" type="text" id="storage">
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <label class="form-label c-font-c-2 c-font-12"> FIrst Name </label>
                <div class="col-sm-8">
                  <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                         formControlName="firstname" type="text">
                  <div
                    *ngIf="formGroup.controls['firstname'].invalid && (formGroup.controls['firstname'].dirty || formGroup.controls['firstname'].touched)"
                    class="text-danger">
                    <div *ngIf="formGroup.controls['firstname'].errors.required">
                      First Name is required.
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <label class="form-label c-font-c-2 c-font-12"> Last Name </label>
                <div class="col-sm-8">
                  <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                         formControlName="lastname" type="text">
                  <div
                    *ngIf="formGroup.controls['lastname'].invalid && (formGroup.controls['lastname'].dirty || formGroup.controls['lastname'].touched)"
                    class="text-danger">
                    <div *ngIf="formGroup.controls['lastname'].errors.required">
                      Last Name is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label c-font-c-2 c-font-12"> Email Address </label>
                <div class="col-sm-8">
                  <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                         formControlName="email" type="text">
                  <div
                    *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)"
                    class="text-danger">
                    <div *ngIf="formGroup.controls['email'].errors.required">
                      Email is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label class="form-label c-font-c-2 c-font-12"> User Name </label>
                <div class="col-sm-8">
                  <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid" readonly
                         formControlName="userName" type="text">
                </div>
              </div>


            </div>


          </form>
        </div>
        <div class="mb-1 ms-2">
          <button class="btn c-font-12 btn-common" type="submit" (click)="save()"
                  [disabled]="formGroup.pristine || formGroup.invalid"> Save User
          </button>
          <button type="button" class="btn btn-cancel c-font-c-8 c-font-12 ms-3" (click)="resetForm()">Cancel</button>
        </div>
      </div>
      <div class="tab-pane fade" id="contant-tab-btn-2" role="tabpanel">...</div>
    </div>

    <div class="content-grid pt-2 pb-3">
      <div class="pt-2" id="nav-tabContent">
        <div class="tab-pane fade show active" id="contant-tab-btn-1" role="tabpanel">
          <div class="card">
            <span class="bg-white card-header grid-card-header c-font-18-b c-font-c-1 ps-4">
              <label class="vertical-text-align-middle">Set User's Roles in Reals</label>
            </span>
            <label class="form-label c-font-c-0 c-font-12 ps-4">Changes to the Roles and Permissions in below grid are
              saved automatically.</label>

            <div class="card-body ps-4">
              <app-grid [gridData]="itemRowData" [colDefKey]="colDefKey" [fetching]="gridDataFetching" [enableShowHideCols]="false"></app-grid>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
