<div class="container-fluid">
  <div class="body-inner-container pt-3">
    <span class="head-search-by c-font-16 c-font-c-3">Search user by:</span>

    <div class="container tab-content p-3 pt-2 mw-none">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link c-font-c-8 active c-font-14-b w-100 display-flex">
          User Search Criteria
        </button>
      </div>
      <div class="tab-pane fade show active" role="tabpanel">
        <div class="mb-3 ms-2">
          <form class="" autocomplete="off" (keydown.enter)="searchForUsers()">

            <div class="row g-3 col-md-6 mb-2">
              <div class="col-md-6">
                <label for="firstName" class="form-label c-font-c-2 c-font-12">First Name</label>
                <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid w-80"
                       id="firstName" name="firstName" [(ngModel)]="request.firstName" type="text" placeholder="Type here...">
              </div>
              <div class="col-md-6">
                <label for="lastName" class="form-label c-font-c-2 c-font-12">Last Name</label>
                <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid w-80"
                       id="lastName" name="lastName" [(ngModel)]="request.lastName" type="text" placeholder="Type here...">
              </div>
              <div class="col-md-6">
                <label for="emailAddress" class="form-label c-font-c-2 c-font-12">Email Address</label>
                <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid w-80"
                       id="emailAddress" name="emailAddress" [(ngModel)]="request.emailAddress" type="text" placeholder="Type here...">
              </div>
              <div class="col-md-6 mb-2">
                <label for="userName" class="form-label c-font-c-2 c-font-12">User Name</label>
                <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid w-80"
                       id="userName" name="userName" [(ngModel)]="request.userName" type="text" placeholder="Type here...">
              </div>
            </div>
            <hr>
            <div class="row g-3 col-md-12">
              <div class="c-font-14 w-100 mb-2">
                More filters to apply.
              </div>
            </div>

            <div class="row g-3 col-md-9">
              <div class="col-md-3 pe-4">
                <label for="storage" class="form-label c-font-c-2 c-font-12">Storage</label>
                <mat-select (selectionChange)="selectStorage()" [(value)]="request.userStorageId" class="form-control c-font-c-0 c-font-14" id="storage" data-style="btn btn-primary btn-round" title="storage">
                  <mat-option selected value="">Choose...</mat-option>
                  <mat-option *ngFor="let storage of storages" [value]="storage.id">
                    {{storage.name}}
                  </mat-option>
                </mat-select>
              </div>

              <div class="col-md-3 pe-4">
                <label for="realm" class="form-label c-font-c-2 c-font-12">Realm</label>
                <mat-select (selectionChange)="selectRealm()" [(value)]="request.realmId" class="form-control c-font-c-0 c-font-14" id="realm" data-style="btn btn-primary btn-round" title="Realm">
                  <mat-option selected value="">Choose...</mat-option>
                  <mat-option *ngFor="let realm of realms" [value]="realm.id">
                    {{realm.name}}
                  </mat-option>
                </mat-select>
              </div>

              <div class="col-md-3 pe-4">
                <label for="role" class="form-label c-font-c-2 c-font-12">Role</label>
                <mat-select [(value)]="request.roleId" class="form-control c-font-c-0 c-font-14" id="Role" data-style="btn btn-primary btn-round" title="Role">
                  <mat-option selected value="">Choose...</mat-option>
                  <mat-option *ngFor="let role of roles" [value]="role.id">
                    {{role.name}}
                  </mat-option>
                </mat-select>
              </div>

<!--              <div class="col-md-3 pe-4">-->
<!--                <label for="flexSwitchCheckChecked" class="form-label c-font-c-2 c-font-12">Active Users Only</label>-->
<!--                <div class="form-check form-switch ps-0 display-flex justify-c-normal">-->
<!--                  <label class="form-check-label ms-0 mt-1 display-flex" for="flexSwitchCheckChecked">Off</label>-->
<!--                  <input class="form-check-input switch-active mt-2 ms-2 display-flex" type="checkbox"-->
<!--                         id="flexSwitchCheckChecked" name="isActiveOnly" [(ngModel)]="request.isActiveOnly">-->
<!--                  <label class="form-check-label ms-2 mt-1 display-flex" for="flexSwitchCheckChecked">On</label>-->
<!--                </div>-->
<!--              </div>-->

              <div class="col-md-3 pe-4">
                <label class="form-label c-font-c-2 c-font-12">Active Users Only</label>
                <div class="form-check form-switch ps-0 display-flex justify-c-normal">
                  <label class="form-check-label display-flex">Off</label>
                  <mat-slide-toggle class="toggle-button my-auto" [aria-label]="'Active Users Only'" [color]="'primary'"
                                    [(ngModel)]="request.isActiveOnly" [aria-describedby]="'Description'" id="flexSwitchCheckChecked"
                                    name="isActiveOnly" type="checkbox"></mat-slide-toggle>
                  <label class="form-check-label display-flex">On</label>
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class="mb-1 ms-2">
          <button type="button" class="btn c-font-12 btn-common" (click)="searchForUsers()">Search</button>
          <button type="button" class="btn btn-cancel c-font-c-8 c-font-12 ms-3"
                  (click)="resetForm();">Cancel
          </button>
        </div>
      </div>
      <div class="tab-pane fade" id="contant-tab-btn-2" role="tabpanel">...</div>
    </div>

    <div class="content-grid pt-2 pb-3">
      <div class="pt-2" id="nav-tabContent">
        <div class="tab-pane fade show active" id="contant-tab-btn-1" role="tabpanel">
          <div class="card">
            <span class="bg-white card-header grid-card-header c-font-18-b c-font-c-1 ps-4">
              <label class="vertical-text-align-middle">Users</label>
              <label class="position-absolute end-0 pe-3" *ngIf="!this.userService.doNotShowAddPopUp()">
                <button class="btn btn btn-common c-font-12" (click)="openAddModal()" data-bs-toggle="modal" data-bs-target="#addEditModal">Add User</button>
              </label>
              <label class="position-absolute end-0 pe-3" *ngIf="this.userService.doNotShowAddPopUp()">
                <a class="btn btn btn-common c-font-12 pt-2" routerLink="/users/add">Add User</a>
              </label>
            </span>

            <div class="card-body ps-4">
              <app-grid [gridData]="itemRowData" [colDefKey]="colDefKey" [fetching]="gridDataFetching" [enableShowHideCols]="true"></app-grid>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

