<form #filterForm autocomplete="off" class="all-permission-box">
  <div class="modal-header">
    <div class="modal-title end-50 w-100 text-capitalize" id="addEditModalLabel">See All Permissions</div>
  </div>
  <div class="modal-body">
    <div class="row g-3">
      <div class="col-md-6 ms-3">
        <label for="inputGateway" class="form-label c-font-c-2 c-font-12">Find permissions by search or manually (
          <input class="btn btn-common c-font-12 pt-2" type="checkbox" (change)="HideDesc()"/> Hide Desc )</label>
        <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid " placeholder="Search..."
               [(ngModel)]="filterKey" type="text" (keyup)="filterPermissions($event)" name="filterKey">
      </div>


      <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="accordion-item" *ngFor="let r of filteredRoles">
          <h2 class="accordion-header" id="flush-heading-{{r.roleId}}">
            <button class="accordion-button collapsed" type="button" (click)="setOpenAccordion($event);"
                    data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse-'+ r.roleId" aria-expanded="false"
                    [attr.aria-controls]="'flush-collapse-'+ r.roleId">
              {{r.role}} ({{r.permissions?.length}})
            </button>
          </h2>
          <div id="flush-collapse-{{r.roleId}}" class="accordion-collapse collapse"
               [ngClass]="{'show': openAccordion == r.roleId }" [attr.aria-labelledby]="'flush-heading-'+ r.roleId"
               data-bs-parent="#accordionFlushExample">
            <div class="accordion-body scrollbar-primary">

              <div class="c-font-c-2 c-font-14 row">
                <div class="" [ngClass]="{'col-sm-2': hideDesc == false, 'col-sm-6': hideDesc == true}">Name</div>
                <div class="" [ngClass]="{'col-sm-4': hideDesc == false, 'col-sm-6': hideDesc == true}">Key</div>
                <div class="" [ngClass]="{'col-sm-6': hideDesc == false, 'display-none': hideDesc == true}">
                  Description
                </div>
              </div>
              <div class="c-font-c-0 c-font-14 row" *ngFor="let p of r.permissions">
                <div class="" [ngClass]="{'col-sm-2': hideDesc == false, 'col-sm-6': hideDesc == true}">{{p.name}}</div>
                <div class="" [ngClass]="{'col-sm-4': hideDesc == false, 'col-sm-6': hideDesc == true}">{{p.key}}</div>
                <div class=""
                     [ngClass]="{'col-sm-6': hideDesc == false, 'display-none': hideDesc == true}">{{p.description}}</div>
              </div>

            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
  <div class="modal-footer">
  </div>
</form>
