<div class="container-fluid">
  <div class="body-inner-container pt-3">

    <div class="container tab-content p-3 pt-2 mw-none" id="client-add-container">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link c-font-c-8 active c-font-14-b w-100 display-flex" id="client-add-tab">
          Edit Client
        </button>
      </div>
      <div class="tab-pane fade show active" role="tabpanel">
        <div class="mb-3 ms-2">
          <form class="form-horizontal ng-untouched ng-pristine ng-invalid" [formGroup]="formGroup" novalidate>
            <div class="row g-3 col-md-9">

              <div class="col-md-12">
                <div class="col-md-8">
                  <label for="clientStorage" class="form-label c-font-c-2 c-font-12">Client Storage</label>
                  <div class="w-50">
                    <input formControlName="clientStorage" data-size="10" class="form-control c-font-c-0 c-font-14
                    ng-untouched ng-pristine ng-invalid disabled" title="Select" name="clientStorage"
                           id="clientStorage" readonly>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <label class="form-label c-font-c-2 c-font-12">Client Name</label>
                <div class="col-sm-8">
                  <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                         formControlName="clientName" type="text"
                         [class.is-invalid]="formGroup.controls['clientName'].invalid && (formGroup.controls['clientName'].dirty || formGroup.controls['clientName'].touched)">
                  <div
                    *ngIf="formGroup.controls['clientName'].invalid && (formGroup.controls['clientName'].dirty || formGroup.controls['clientName'].touched)"
                    class="text-danger">
                    <div *ngIf="formGroup.controls['clientName'].errors.required">
                      Client Name is required.
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <label class="form-label c-font-c-2 c-font-12">Client ID</label>
                <div class="col-sm-8">
                  <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                         formControlName="clientId" type="text" readonly
                         [class.is-invalid]="formGroup.controls['clientId'].invalid && (formGroup.controls['clientId'].dirty || formGroup.controls['clientId'].touched)">
                  <div
                    *ngIf="formGroup.controls['clientId'].invalid && (formGroup.controls['clientId'].dirty || formGroup.controls['clientId'].touched)"
                    class="text-danger">
                    <div *ngIf="formGroup.controls['clientId'].errors.required">
                      Client ID is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label class="form-label c-font-c-2 c-font-12">Active?</label>
                <div class="col-sm-8">
                  <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid" readonly
                         formControlName="isActive" type="text">
                </div>
              </div>

              <div class="col-md-6" *ngIf="client?.canSetPassword">
                <label class="form-label c-font-c-2 c-font-12">Client Secret</label>
                <div class="col-sm-8">
                  <div>
                    <button type="button" class="btn c-font-12 btn-common" (click)="resetSecret()"><i
                      class="nc-icon nc-key-25"></i>Reset Secret
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class="mb-1 ms-2">
          <button class="btn c-font-12 btn-common" type="submit" (click)="save()"
                  [disabled]="formGroup.pristine || formGroup.invalid">Update Client
          </button>
          <button type="button" class="btn btn-cancel c-font-c-8 c-font-12 ms-3"
                  (click)="this.resetForm();">
            Cancel
          </button>
        </div>
      </div>
      <div class="tab-pane fade" id="contant-tab-btn-2" role="tabpanel">...</div>
    </div>

    <div class="content-grid pt-2 pb-3">
      <div class="pt-2" id="nav-tabContent">
        <div class="tab-pane fade show active" id="contant-tab-btn-1" role="tabpanel">
          <div class="card">
            <span class="bg-white card-header grid-card-header c-font-18-b c-font-c-1 ps-4">
              <label class="vertical-text-align-middle">Set Client's Roles in Realms</label>
            </span>
            <label class="form-label c-font-c-0 c-font-12 ps-4">Changes to the Roles and Permissions in below grid are
              saved automatically.</label>

            <div class="card-body ps-4">
              <app-grid [gridData]="itemRowData" [colDefKey]="colDefKey" [fetching]="gridDataFetching" [enableShowHideCols]="false"></app-grid>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
