<div class="modal-header">
  <div class="modal-title end-50 w-100 text-capitalize" id="addEditModalLabel">Edit New Role</div>
</div>
<div class="modal-body">

  <span class="bg-white card-header grid-card-header c-font-16 c-font-c-1 ps-0">
    <label class="vertical-text-align-middle">Role</label>
  </span>

  <form [formGroup]="formGroup" autocomplete="off">

    <div class="row g-3 col-md">
      <div class="col-md">
        <label for="Key" class="form-label c-font-c-2 c-font-12">Key</label>
        <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
               name="Key" id="Key" formControlName="key" type="text" readonly>
        <div *ngIf="formGroup.controls['key'].invalid && (formGroup.controls['key'].dirty || formGroup.controls['key'].touched)"
             class="text-danger">
          <div *ngIf="formGroup.controls['key'].errors.required">
            Key is required.
          </div>
        </div>
      </div>
      <div class="col-md">
        <label for="Name" class="form-label c-font-c-2 c-font-12">Name</label>
        <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
               name="Name" id="Name" formControlName="name" type="text">
        <div *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)"
             class="text-danger">
          <div *ngIf="formGroup.controls['name'].errors.required">
            Name is required.
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <label for="Description" class="form-label c-font-c-2 c-font-12">Description</label>
        <textarea class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                  name="Description" id="Description"
                  formControlName="description"></textarea>
        <div *ngIf="formGroup.controls['description'].invalid && (formGroup.controls['description'].dirty || formGroup.controls['description'].touched)"
             class="text-danger">
          <div *ngIf="formGroup.controls['description'].errors.required">
            Key is required.
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2 ms-1 me-1">
      <span class="bg-white card-header grid-card-header c-font-16 c-font-c-1 ps-0">
        <label class="vertical-text-align-middle">Permissions</label>
      </span>
      <div class="add-users-to-realm-grid ps-4 mt-2">
        <app-grid [gridData]="permissions" [colDefKey]="componentKeyEditRolesInRealmAddPermissions" [fetching]="1"
                  [enableShowHideCols]="false" [isReadOnly]="false"></app-grid>
      </div>
    </div>
  </form>

</div>


<div class="display-block">

  <div class="row mt-2">
    <div class="text-left display-block ps-4 pb-4">
      <button type="button" class="btn btn-common c-font-12" (click)="save()">Save</button>
      <button type="button" class="btn btn-cancel c-font-c-5 c-font-12 ms-2" data-bs-dismiss="modal" #closeAddEditModal>Cancel</button>
    </div>
  </div>

</div>
