<div class="modal-header">
  <div class="modal-title end-50 w-100 text-capitalize" id="addEditModalLabel">Select Users</div>
</div>
<div class="modal-body">
  <span class="bg-white card-header grid-card-header c-font-16 c-font-c-1 ps-0">
    <label class="vertical-text-align-middle">Existing Users</label>
  </span>
  <div class="add-users-to-realm-grid ps-4 mt-2">
    <app-grid [gridData]="itemRowData" [colDefKey]="colDefKeyAddUsersToRealm" [fetching]="gridDataFetching"
              [enableShowHideCols]="false" [isReadOnly]="false" [headerHeight]="0"></app-grid>
  </div>
</div>


<div class="display-block">
  <div class="row mt-2">
    <div class="text-left display-block ps-4 pb-4">
      <button type="button" class="btn btn-common c-font-12" (click)="save()">Add User</button>
      <button type="button" class="btn btn-cancel c-font-c-5 c-font-12 ms-2" (click)="cancel()"
              data-bs-dismiss="modal" #closeAddEditModal>Close
      </button>
    </div>
  </div>
</div>

