<div class="footer">
  <nav class="navbar navbar-expand-lg navbar-light ms-4 pt-0">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-link-text" href="#">Support</a>
        </li>
        <li class="nav-item footer-div">
          <span class="">|</span>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-text" href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
