.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #5B5E66;
  font-size: 14px;
  color: #A0A9B5;
  text-align: left;
}
.footer-div {
  margin-top: 6px;
}
.nav-link-text {
  color: #A0A9B5 !important;
}
