<div class="container-fluid">
  <div class="body-inner-container pt-3">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button #tabNavBtn1 class="nav-link c-font-c-8 active c-font-14-b w-100 display-flex ps-3 pt-3" id="nav-tab-btn-1" data-bs-toggle="tab" data-bs-target="#contant-tab-btn-1" type="button" role="tab" aria-selected="true">Settings</button>
      </div>
    </nav>
    <div class="tab-content p-3 pt-2" id="nav-tabContent">
      <div class="tab-pane fade show active" id="contant-tab-btn-1" role="tabpanel">
        <div class="mb-3 ms-2">
          <form class="form-horizontal ng-untouched ng-pristine ng-invalid" novalidate>

            <div class="row g-3 col-md-12">
              <div class="row g-3 mt-3">
                <div class="col-md-4 pt-2">
                  <span class="c-font-c-4 c-font-16-b">Do Not Show Popup Box on Save/Update:</span>
                </div>
                <div class="col-md-2">
                  <select id="inputDoNotShowSavePopUp" [(ngModel)]="userSettings.doNotShowSavePopUp" class="form-control c-font-c-0 c-font-14" name="inputDoNotShowSavePopUp">
                    <option value="false">False</option>
                    <option value="true">True</option>
                  </select>
                </div>
                <div class="col-md-6">
                  if it is 'False', you will see popup box when you Save or Update data.
                </div>
              </div>
            </div>
            <div class="row g-3 col-md-12">
              <div class="row g-3 mt-3">
                <div class="col-md-4 pt-2">
                  <span class="c-font-c-4 c-font-16-b">Do Not Show Popup Box on New:</span>
                </div>
                <div class="col-md-2">
                  <select id="inputDoNotShowAddPopUp" [(ngModel)]="userSettings.doNotShowAddPopUp" class="form-control c-font-c-0 c-font-14" name="inputDoNotShowAddPopUp">
                    <option value="false">False</option>
                    <option value="true">True</option>
                  </select>
                </div>
                <div class="col-md-6">
                  if it is 'False', you will see popup box when you Add new item.
                </div>
              </div>
            </div>
            <div class="row g-3 col-md-12">
              <div class="row g-3 mt-3">
                <div class="col-md-4 pt-2">
                  <span class="c-font-c-4 c-font-16-b">Minimize Sidebar:</span>
                </div>
                <div class="col-md-2">
                  <select id="inputMinimizeSidebar" [(ngModel)]="userSettings.minimizeSidebar" class="form-control c-font-c-0 c-font-14" name="inputMinimizeSidebar">
                    <option value="false">False</option>
                    <option value="true">True</option>
                  </select>
                </div>
                <div class="col-md-6">
                  if it is 'False', you will see Sidebar open.
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class="mb-1 ms-2">
          <button class="btn c-font-12 btn-common" type="submit" (click)="save()" [disabled]="!(userSettings.doNotShowSavePopUp != originalUserSettings.doNotShowSavePopUp || userSettings.doNotShowAddPopUp != originalUserSettings.doNotShowAddPopUp || userSettings.minimizeSidebar != originalUserSettings.minimizeSidebar)"> Save </button>
          <button type="button" class="btn btn-cancel c-font-c-8 c-font-12 ms-3" (click)="resetForm();">Cancel</button>
          <span class="text-success ms-3 c-font-14-b">{{message}}</span>
        </div>
      </div>
  
    </div>


  </div>
</div>
