<div class="main-content">
    <div *ngIf="user">
      <div class="row">
        <div class="card">
          <div class="card-header ">
            <h4 class="card-title">
              <b>{{user.userName}} - {{user.firstName}} {{user.lastName}}</b></h4>
              <a class="btn btn-info btn-sm float-right" [routerLink]="['/user', user.id, 'edit']"><i
                class="nc-icon nc-ruler-pencil"></i>Edit</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="form-group"><label class="control-label"> Name </label>
                  <div>{{user.firstName}} {{user.lastName}}
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="form-group"><label class="control-label"> User Name </label>
                  <div>{{user.userName}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                  <div class="form-group"><label class="control-label"> Email Address </label>
                    <div>{{user.emailAddress}}
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="form-group"><label class="control-label"> Storage </label>
                    <div>{{user.userStorage}}
                    </div>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="form-group"><label class="control-label"> Active? </label>
                  <div>
                    <div>{{user.isActive}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-header ">
            Security
          </div>
          <div class="card-body">
            <select (change)="selectRealm()" name="realm" data-size="10"
              data-style="btn btn-primary btn-round" title="Realm" [(ngModel)]="selectedRealmId">
              <option *ngFor="let realm of realms" [value]="realm.realmId">
                {{realm.realm}}
              </option>
            </select>
  
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" id="tabs" role="tablist">
                  <li class="nav-item"><a aria-expanded="true" class="nav-link active" data-toggle="tab" href="#rolesTab"
                      role="tab">Assigned Roles</a></li>
                  <li class="nav-item"><a aria-expanded="false" class="nav-link" data-toggle="tab" href="#permissionsTab"
                      role="tab">Assigned Permissions</a></li>
                </ul>
              </div>
            </div>
            <div class="tab-content text-center" id="my-tab-content">
              <div aria-expanded="true" class="tab-pane active" id="rolesTab" role="tabpanel">
                <ag-grid-angular style="width: 100%" class="ag-theme-balham" [animateRows]="true" domLayout="autoHeight"
                  [rowData]="roleRowData" [columnDefs]="roleColumnDefinitions">
                </ag-grid-angular>
              </div>
              <div aria-expanded="false" class="tab-pane" id="permissionsTab" role="tabpanel">
                <ag-grid-angular style="width: 100%" class="ag-theme-balham" [animateRows]="true" domLayout="autoHeight"
                  [rowData]="permissionRowData" [columnDefs]="permissionColumnDefinitions">
                </ag-grid-angular>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
