<div class="container-fluid">
  <div class="body-inner-container pt-3">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link c-font-c-8 active c-font-14-b w-100 display-flex ps-3 pt-3" id="nav-tab-btn-101"
                data-bs-toggle="tab" data-bs-target="#contant-tab-btn-101" type="button" role="tab" aria-selected="true">
          Edit Realm
        </button>
      </div>
    </nav>
    <div class="tab-content p-3 pt-2" id="nav-tabContent">
      <div class="tab-pane fade show active" id="contant-tab-btn-101" role="tabpanel">
        <div class="mb-3 ms-2">
          <form [formGroup]="formGroup" autocomplete="off">

            <div class="row g-3 col-md-6">
              <div class="col-md-6">
                <label for="firstName" class="form-label c-font-c-2 c-font-12"><i class="fa-thin fa-abacus"></i>Key</label>
                <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                       formControlName="key" type="text" [readonly]="isReadOnly">
                <div *ngIf="formGroup.controls['key'].invalid && (formGroup.controls['key'].dirty || formGroup.controls['key'].touched)"
                     class="text-danger">
                  <div *ngIf="formGroup.controls['key'].errors.required">
                    Key is required.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="firstName" class="form-label c-font-c-2 c-font-12">Name</label>
                <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid"
                       formControlName="name" type="text" [readonly]="isReadOnly">
                <div *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)"
                     class="text-danger">
                  <div *ngIf="formGroup.controls['name'].errors.required">
                    Name is required.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="firstName" class="form-label c-font-c-2 c-font-12">User Storage Id</label>

                <mat-select *ngIf="!isReadOnly" formControlName="userStorageId" class="form-control c-font-c-0 c-font-14" id="userStorageId" data-style="btn btn-primary btn-round" title="storage">
                  <mat-option selected value="">Choose...</mat-option>
                  <mat-option *ngFor="let storage of storages" [value]="storage.id">
                    {{storage.name}}
                  </mat-option>
                </mat-select>
                <div *ngIf="isReadOnly && storages" class="form-control c-font-c-0 c-font-14 c-bg-c-6">
                  {{(storages | filterBy:['id',formGroup.controls['userStorageId'].value])[0]?.name ?? ''}}
                </div>
                <div *ngIf="formGroup.controls['userStorageId'].invalid && (formGroup.controls['userStorageId'].dirty || formGroup.controls['userStorageId'].touched)"
                     class="text-danger">
                  <div *ngIf="formGroup.controls['userStorageId'].errors.required">
                    User Storage Id is required.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="firstName" class="form-label c-font-c-2 c-font-12">Client Storage Id</label>
                <mat-select *ngIf="!isReadOnly" formControlName="clientStorageId" class="form-control c-font-c-0 c-font-14" id="storage" data-style="btn btn-primary btn-round" title="clientStorageId">
                  <mat-option selected value="">Choose...</mat-option>
                  <mat-option *ngFor="let storage of storages" [value]="storage.id">
                    {{storage.name}}
                  </mat-option>
                </mat-select>
                <div *ngIf="isReadOnly && storages" class="form-control c-font-c-0 c-font-14 c-bg-c-6">
                  {{(storages | filterBy:['id',formGroup.controls['clientStorageId'].value])[0]?.name ?? ''}}
                </div>
                <div *ngIf="formGroup.controls['clientStorageId'].invalid && (formGroup.controls['clientStorageId'].dirty || formGroup.controls['clientStorageId'].touched)"
                     class="text-danger">
                  <div *ngIf="formGroup.controls['clientStorageId'].errors.required">
                    Client Storage Id is required.
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="firstName" class="form-label c-font-c-2 c-font-12">Token Lifetime In Minutes</label>
                <input class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid" [readonly]="isReadOnly"
                       formControlName="tokenLifetimeInMinutes" type="text">
                <div *ngIf="formGroup.controls['tokenLifetimeInMinutes'].invalid && (formGroup.controls['tokenLifetimeInMinutes'].dirty || formGroup.controls['tokenLifetimeInMinutes'].touched)"
                     class="text-danger">
                  <div *ngIf="formGroup.controls['tokenLifetimeInMinutes'].errors.required">
                    Token Lifetime is required.
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <label for="firstName" class="form-label c-font-c-2 c-font-12">Description</label>
                <textarea class="form-control c-font-c-0 c-font-14 ng-untouched ng-pristine ng-invalid" [readonly]="isReadOnly"
                          formControlName="description"></textarea>
                <div *ngIf="formGroup.controls['description'].invalid && (formGroup.controls['description'].dirty || formGroup.controls['description'].touched)"
                     class="text-danger">
                  <div *ngIf="formGroup.controls['description'].errors.required">
                    Key is required.
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
      <div class="mb-1 ms-2" *ngIf="!isReadOnly">
        <button class="btn c-font-12 btn-common" type="submit" (click)="save()" [disabled]="formGroup === undefined || formGroup.pristine || formGroup.invalid"> Save </button>
        <button type="button" class="btn btn-cancel c-font-c-8 c-font-12 ms-3" (click)="resetForm();">Cancel</button>
      </div>
    </div>
  </div>


  <div class="body-inner-container pt-3">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button #tabNavBtn1 class="nav-link c-font-c-8 active c-font-14" id="nav-tab-btn-1" data-bs-toggle="tab" data-bs-target="#contant-tab-btn-1" type="button" role="tab" aria-selected="true">Users</button>
        <button #tabNavBtn2 class="nav-link c-font-c-8 c-font-14" id="nav-tab-btn-2" data-bs-toggle="tab" data-bs-target="#contant-tab-btn-2" type="button" role="tab" aria-selected="false">Clients</button>
      </div>
    </nav>
    <div class="tab-content pt-0" id="nav-tabContent">
      <div class="tab-pane fade show active" id="contant-tab-btn-1" role="tabpanel">
          <div class="tab-pane fade show active" id="contant-tab-btn-1" role="tabpanel">
            <div class="card">
              <span class="bg-white card-header grid-card-header c-font-18-b c-font-c-1 ps-4">
                <label class="vertical-text-align-middle">Authentication Principals</label>
                <label class="position-absolute end-0 pe-3" *ngIf="!isReadOnly">
                  <button class="btn btn btn-common c-font-12" data-bs-toggle="modal" (click)="addUserToRealm()" data-bs-target="#addEditModal">Add User</button>
                </label>
              </span>
              <div class="card-body ps-4">
                <app-grid [gridData]="itemRowDataUsers" [colDefKey]="colDefKeyUsersEditRealm" [enableShowHideCols]="true" [isReadOnly]="isReadOnly"></app-grid>
              </div>
            </div>
          </div>
      </div>
      <div class="tab-pane fade" id="contant-tab-btn-2" role="tabpanel">
        <div class="tab-pane fade show active" id="contant-tab-btn-1" role="tabpanel">
          <div class="card">
            <span class="bg-white card-header grid-card-header c-font-18-b c-font-c-1 ps-4">
              <label class="vertical-text-align-middle">Authentication Principals</label>
              <label class="position-absolute end-0 pe-3" *ngIf="!isReadOnly">
                <button class="btn btn btn-common c-font-12" data-bs-toggle="modal" data-bs-target="#addEditModal" (click)="addClientToRealm()">Add Client</button>
              </label>
            </span>
            <div class="card-body ps-4">
              <app-grid [gridData]="itemRowDataClients" [colDefKey]="colDefKeyClientsEditRealm" [enableShowHideCols]="true"  [isReadOnly]="isReadOnly"></app-grid>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="body-inner-container pt-3">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button #tabNavBtn11 class="nav-link c-font-c-8 active c-font-14" id="nav-tab-btn-1" data-bs-toggle="tab" data-bs-target="#contant-tab-btn-11" type="button" role="tab" aria-selected="true">Roles</button>
        <button #tabNavBtn12 class="nav-link c-font-c-8 c-font-14" id="nav-tab-btn-2" data-bs-toggle="tab" data-bs-target="#contant-tab-btn-12" type="button" role="tab" aria-selected="false">Permissions</button>
      </div>
    </nav>
    <div class="tab-content pt-0" id="nav-tabContent">
      <div class="tab-pane fade show active" id="contant-tab-btn-11" role="tabpanel">
        <div class="tab-pane fade show active" id="contant-tab-btn-11" role="tabpanel">
          <div class="card">
            <span class="bg-white card-header grid-card-header c-font-18-b c-font-c-1 ps-4">
              <label class="vertical-text-align-middle">Authorization Security</label>
              <label class="position-absolute end-0 pe-3" *ngIf="!isReadOnly">
                <button class="btn btn btn-common c-font-12" data-bs-toggle="modal" data-bs-target="#addEditModal" (click)="addRolesToRealm()">Add Role</button>
              </label>
            </span>
            <div class="card-body ps-4">
              <app-grid [gridData]="itemRowDataRoles" [colDefKey]="colDefKeyRolesEditRealm" [enableShowHideCols]="true"  [isReadOnly]="isReadOnly"></app-grid>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="contant-tab-btn-12" role="tabpanel">
        <div class="tab-pane fade show active" id="contant-tab-btn-12" role="tabpanel">
          <div class="card">
            <span class="bg-white card-header grid-card-header c-font-18-b c-font-c-1 ps-4">
              <label class="vertical-text-align-middle">Authorization Security</label>
              <label class="position-absolute end-0 pe-3" *ngIf="!isReadOnly">
                <button class="btn btn btn-common c-font-12" data-bs-toggle="modal" data-bs-target="#addEditModal" (click)="addPermissionsToRealm()">Add Permission</button>
              </label>
            </span>
            <div class="card-body ps-4">
              <app-grid [gridData]="itemRowDataPermissions" [colDefKey]="colDefKeyPermissionsEditRealm" [enableShowHideCols]="true"  [isReadOnly]="isReadOnly"></app-grid>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

